<section id="modal-container" class="one teaTools">
  <div class="modal-background">
    <div class="modal showModal" id="changeDemo_content">
      <h2 class="modalHead">Customize preset theme
        <i class="fa fa-gears" aria-hidden="true"></i>
        <span class="version">
          <i>Version: 3.0 (4/20/2019)<i>
            </span>
            </h2>
          <div class="container-fluid">
            <div class="db text-center">
              <button class="" id="gl_import_pages" data-src='{{'demo-pages.json' | asset_url }}'>import pages</button>
              <!--             <button class="" id="gl_import_images" data-src='{{'demo-images.json' | asset_url }}'>import images</button> -->
              <!--             <button class="" id="gl_import_menus" data-src='{{'demo-menus.json' | asset_url }}'>import menus</button> -->
            </div>
            <div class="tabs">
              <div class="tab">
                <label>Demo versions</label>
                <div class="content">
                  <div class="imported-base">
                    <div class="updateTools-success updateTools-alert">
                      <p>
                        <strong><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Note! </strong>
                        <span>
                          Now you can choose any version to apply its settings for your website or leave a default one.<br/>
                          You are be able to switch to default version settings any time.
                        </span>
                      </p>
                    </div>
                    <div class="updateTools-warning updateTools-alert">
                      <p>
                        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Warning </strong>
                        <span>
                          It may override all theme settings and reload the editor.<br/>
                          You should backup your theme settings using Export tab before importing. 
                        </span>
                      </p>
                    </div>

                    <div class="updateTools-presets clearfix">
                      
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/2588/5532/files/Gecko_modern-min.png?326" alt="">
                            <div class="import-form-fields">
                              <span>Set up Home Modern</span>
                              <button class="import-btn" data-layout="Home_modern" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home16_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div> 

                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home_outdoor-min-min.png?4073" alt="">
                            <div class="import-form-fields">
                              <span>Set up Home Outdoor</span>
                              <button class="import-btn" data-layout="Home_outdoor" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home16_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>            

                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home_watches-min_303x.png?v=1555556804" alt="">
                            <div class="import-form-fields">
                              <span>Set up home watches</span>
                              <button class="import-btn" data-layout="Home_watches" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home1_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home1" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home1-min_303x.png?v=1555556768" alt="">
                            <div class="import-form-fields">
                              <span>Set up home 1</span>
                              <button class="import-btn" data-layout="Home1" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home1_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home1" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>



                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home_furniture-min_303x.png?v=1555556880" alt="">
                            <div class="import-form-fields">
                              <span>Set up home furniture</span>
                              <button class="import-btn" data-layout="Home_furniture" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home2_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home2" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview"><div class="item-import">
                          <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home_handmade-min_303x.png?v=1555556997" alt="">
                          <div class="import-form-fields">
                            <span>Set up home Handmade</span>
                            <button class="import-btn" data-layout="Home_handmade" title="Import preset">                              
                              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home3_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_3" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                            </button>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home_organic-min_303x.png?v=1555557052" alt="">
                            <div class="import-form-fields">
                              <span>Set up home Organic</span>
                              <button class="import-btn" data-layout="Home_organic" title="Import preset">                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home4_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_4" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home_parallax-min_303x.png?v=1555557094" alt="">
                            <div class="import-form-fields">
                              <span>Set up home Parallax</span>
                              <button class="import-btn" data-layout="Home_parallax" title="Import preset">                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home5_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_5" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home_baby-min_303x.png?v=1555557129" alt="">
                            <div class="import-form-fields">
                              <span>Set up home Baby</span>
                              <button class="import-btn" data-layout="Home_baby" title="Import preset">                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home6_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_6" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home_electric-min_303x.png?v=1555557254" alt="">
                            <div class="import-form-fields">
                              <span>Set up home Digital</span>
                              <button class="import-btn" data-layout="Home_digital" title="Import preset">                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home7_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_7" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home_cosmetic-min_303x.png?v=1555557192" alt="">
                            <div class="import-form-fields">
                              <span>Set up home Cosmetic</span>
                              <button class="import-btn" data-layout="Home_cosmetic" title="Import preset">                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home8_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_8" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home2-min_303x.png?v=1555557305" alt="">
                            <div class="import-form-fields">
                              <span>Set up home Fashion 2</span>
                              <button class="import-btn" data-layout="Home_fashion2" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home9_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home3-min_303x.png?v=1555557349" alt="">
                            <div class="import-form-fields">
                              <span>Set up home fashion 3</span>
                              <button class="import-btn" data-layout="Home_fashion3" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home10_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home4-min_303x.png?v=1555557382" alt="">
                            <div class="import-form-fields">
                              <span>Set up home Fashion 4</span>
                              <button class="import-btn" data-layout="Home_fashion4" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home11_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home5-min_303x.png?v=1555557417" alt="">
                            <div class="import-form-fields">
                              <span>Set up home Fashion 5</span>
                              <button class="import-btn" data-layout="Home_fashion5" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home12_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home6-min_303x.png?v=1555557504" alt="">
                            <div class="import-form-fields">
                              <span>Set up home fashion 6</span>
                              <button class="import-btn" data-layout="Home_fashion6" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home13_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home7-min_303x.png?v=1555557538" alt="">
                            <div class="import-form-fields">
                              <span>Set up home fashion 7</span>
                              <button class="import-btn" data-layout="Home_fashion7" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home14_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home8-min_303x.png?v=1555569419" alt="">
                            <div class="import-form-fields">
                              <span>Set up home fashion 8</span>
                              <button class="import-btn" data-layout="Home_fashion8" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home15_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home9-min_303x.png?v=1555569446" alt="">
                            <div class="import-form-fields">
                              <span>Set up home fashion 9</span>
                              <button class="import-btn" data-layout="Home_fashion9" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home16_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home10-min_303x.png?v=1555569472" alt="">
                            <div class="import-form-fields">
                              <span>Set up home Fashion 10</span>
                              <button class="import-btn" data-layout="Home_fashion10" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home16_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="updateTools-import">
                        <div class="page-preview">
                          <div class="item-import">
                            <img src="https://cdn.shopify.com/s/files/1/1571/0989/files/home11-min_303x.png?v=1555569497" alt="">
                            <div class="import-form-fields">
                              <span>Set up home Fashion 11</span>
                              <button class="import-btn" data-layout="Home_fashion11" title="Import preset">
                                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" id="Home16_1"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"/> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/> <stop stop-color="#fff" offset="100%"/> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(63.9329 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/> </circle> </g> </g></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Home_9" x="0px" y="0px" viewBox="0 0 30.892 30.892" style="enable-background:new 0 0 30.892 30.892;" xml:space="preserve"> <g> <g> <path style="fill:#fff;" d="M29.875,30.892H1.017c-0.483,0-0.875-0.392-0.875-0.874V20.28c0-0.482,0.392-0.875,0.875-0.875 s0.875,0.393,0.875,0.875v8.862H29V20.28c0-0.482,0.392-0.875,0.875-0.875s0.875,0.393,0.875,0.875v9.737 C30.75,30.5,30.358,30.892,29.875,30.892z"/> </g> <g> <g> <path style="fill:#fff;" d="M15.446,23.275c-0.483,0-0.875-0.393-0.875-0.875V0.875C14.571,0.392,14.963,0,15.446,0 c0.482,0,0.875,0.392,0.875,0.875V22.4C16.321,22.883,15.929,23.275,15.446,23.275z"/> </g> <g> <path style="fill:#fff;" d="M15.446,23.635c-0.237,0-0.464-0.097-0.629-0.267L4.055,12.246 c-0.336-0.348-0.326-0.901,0.021-1.237c0.348-0.336,0.9-0.327,1.236,0.021l10.135,10.473L25.58,11.029 c0.336-0.348,0.89-0.356,1.237-0.021c0.347,0.336,0.355,0.89,0.02,1.237L16.075,23.368 C15.909,23.538,15.683,23.635,15.446,23.635z"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>





                    </div>
                  </div>
                </div>
              </div>

              <div class="tab tab-2">
                <label>Import</label>
                <div class="content">
                  <form action="">
                    <textarea class="tea-form-control " id="tea-import-from-text" rows="10" placeholder="Paste the exported data here..." required></textarea>
                    <button class="btn btn-secondary" id="tea-import-from-btn" type="submit">IMPORT AND SAVE</button>
                  </form>
                </div>
              </div>

              <div class="tab tab-3">
                <label>Export</label>
                <div class="content">                
                  <form action="">
                    <textarea id="tea-form-export" class="tea-form-control" rows="10" placeholder="Data current theme" readonly></textarea>
                    <button class="btn btn-secondary" id="tea-copy-from-btn" type="submit">COPY</button>
                    {% comment %}<button class="btn btn-secondary" id="tea-backup-from-btn" type="submit">Backup</button>{% endcomment %}
                  </form>
                </div>
              </div>

            </div>
          </div>
          </div>
        </div>
      <div class="model-3">
        <div class="float-btn-group">
          <button class="btn-float btn-triger pink" id="changeDemo">
            <i class="icon-bars"></i>
          </button>
        </div>
      </div>
      </section>
    <script type="text/javascript">
        $(document).on('click','.btn-triger', function(){
          //       $(window.parent.document).find('.sfe-next').not( ".theme-editor--fullscreen" ).find('.theme-editor__fullscreen-toggle').trigger('click');
          $(this).closest('.float-btn-group').toggleClass('open');
          $('.btn-float').removeClass('active');
          $('body').toggleClass('modal-active');
        });
        function inIframe() {
          return (window !== window.parent && window.top.location.pathname.indexOf('/admin') >= 0 && window.top.location.pathname.indexOf('/editor') >= 0) ? true : false;
        }
        if (inIframe()) {
        window.teaUpdate = {};
        window.teaUpdate.settings_data_json_url = '{{ 'settings_preset.json ' | asset_url }}';
        if (!top.window.jsContentForIndex) {
          top.window.jsContentForIndex = top.window.Shopify.contentForIndex;
        }
        $(document).on('shopify:section:load', updateContentForIndex);
        $(document).on('shopify:section:reorder', updateContentForIndex);
        var $top = $(top.document);
        var $action_list = $top.find('.te-panel__footer .ui-action-list').first();
        if($action_list.find('li .tea-update-theme').length == 0 ){
          var iconBulkTags = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="iconBulkTags"  x="0px" y="0px" width="14px" height="100%" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve"><g><path d="M54.319,37.839C54.762,35.918,55,33.96,55,32c0-9.095-4.631-17.377-12.389-22.153c-0.473-0.29-1.087-0.143-1.376,0.327 c-0.29,0.471-0.143,1.086,0.327,1.376C48.724,15.96,53,23.604,53,32c0,1.726-0.2,3.451-0.573,5.147C51.966,37.051,51.489,37,51,37 c-3.86,0-7,3.141-7,7s3.14,7,7,7s7-3.141,7-7C58,41.341,56.509,39.024,54.319,37.839z M51,49c-2.757,0-5-2.243-5-5s2.243-5,5-5 s5,2.243,5,5S53.757,49,51,49z"/><path d="M38.171,54.182C35.256,55.388,32.171,56,29,56c-6.385,0-12.527-2.575-17.017-7.092C13.229,47.643,14,45.911,14,44 c0-3.859-3.14-7-7-7s-7,3.141-7,7s3.14,7,7,7c1.226,0,2.378-0.319,3.381-0.875C15.26,55.136,21.994,58,29,58 c3.435,0,6.778-0.663,9.936-1.971c0.51-0.211,0.753-0.796,0.542-1.307C39.267,54.213,38.681,53.971,38.171,54.182z M2,44 c0-2.757,2.243-5,5-5s5,2.243,5,5s-2.243,5-5,5S2,46.757,2,44z"/><path d="M4,31.213c0.024,0.002,0.048,0.003,0.071,0.003c0.521,0,0.959-0.402,0.997-0.93c0.712-10.089,7.586-18.52,17.22-21.314 C23.142,11.874,25.825,14,29,14c3.86,0,7-3.141,7-7s-3.14-7-7-7c-3.851,0-6.985,3.127-6.999,6.975 C11.42,9.922,3.851,19.12,3.073,30.146C3.034,30.696,3.449,31.175,4,31.213z M29,2c2.757,0,5,2.243,5,5s-2.243,5-5,5s-5-2.243-5-5 S26.243,2,29,2z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>';
          $action_list.prepend($('<li class="theme-editor-action-list__item--separator"></li><li><a href="#" class="theme-editor-action-list__item tea-update-theme">Import demo<span style="margin-top: 3px;float: right;">'+iconBulkTags+'</span></a></li>'));
        }
        var $importBtn = window.top.document.querySelector('.tea-update-theme');
        $importBtn.addEventListener('click',function(){
          $('#changeDemo').trigger('click');
        });
        function BindEvent() {}
        $.get(window.teaUpdate.settings_data_json_url, function(data, status) {
          /*optional stuff to do after success */
          console.log(data, status);
          if (status == 'success') {
            $data = data.presets;
          }

        });
        $(document).on('click', '#tea-import-from-btn', function() {
          var text = $('#tea-import-from-text').val();
          $('.preloader').fadeIn(500, function() {
            $('.preloader').children().fadeIn(100)
          });
          try {
            importData(jsonToMap(JSON.parse(text), false, 'settings'));
          } catch (e) {
            //         console.log(e);
            alert("Import Errors");
            $('.preloader').fadeOut(500, function() {
              $('.preloader').children().fadeOut(100)
            });
          }
        });
        $(document).on('shopify:section:select', BindEvent);
        $(document).on('shopify:section:reorder', BindEvent);
        $(document).on('click', '.import-btn', function(event) {
          event.preventDefault();        
          $(this).addClass('loading');
          $('.preloader').fadeIn(500, function() {
            $('.preloader').children().fadeIn(100)
          });

          var $this = $(this),
              layout = $this.data('layout');
          if (typeof($data[layout] != "undefined")) {

            importData(jsonToMap(MergerSectionsData($data[layout]), false, 'settings'));
            $('.import-btn').removeClass('active');
            $this.addClass('active');
          }
        });
        $(document).on('click', '#changeDemo', function() {
          $("#tea-form-export").val(JSON.stringify(getCurrentFormSettings()));
        });
        $(document).on('click', '#tea-copy-from-btn', function(event) {
          event.preventDefault();
          var copyTextarea = $('#tea-form-export');
          copyTextarea.select();
          try {
            var successful = document.execCommand('copy');
            $(this).text("Copied to clipboard");
          } catch (err) {
            $(this).text("ERROR").addClass('error');
          }
          setTimeout(function() {
            $("#tea-copy-from-btn").text("Copy");
          }, 3000);
        });
        function updateContentForIndex() {
          var contentForIndex = [];

          $(top.document).find('[data-content-for-index]').children('li').each(function() {
            var sectionId = $(this).attr('data-section-id');

            if (sectionId) {
              contentForIndex.push(sectionId);
            }
          });

          if (contentForIndex.length > 0) {
            top.window.jsContentForIndex = contentForIndex;
          }
        }
        function isObject(value) {
          return value === Object(value)
        }
        function isArray(value) {
          return Array.isArray(value)
        }
        function isFile(value) {
          return value instanceof File
        }
        function mapToJson(t, e, n) {
          var n = n || {};
          return 1 === t.length ? (e.indexOf("[]") > -1 ? e = [] : e.indexOf('["') > -1 && (e = e.replace('["', "").replace('"]', "").replace(new RegExp('","', "g"), "|").split("|")), n[t[0]] = e, n) : (n[t[0]] = n[t[0]] || {}, n[t[0]] = mapToJson(t.slice(1), e, n[t[0]]), n)
        }

        function jsonToMap(t, e, n) {
          return e = e || [], Object.keys(t).forEach(function(o) {
            var i = n ? n + "[" + o + "]" : o;
            !isObject(t[o]) || isArray(t[o]) || isFile(t[o]) ? isArray(t[o]) ? t[o].forEach(function(t) {
              var n = i + "[]";
              isObject(t) && !isFile(t) ? jsonToMap(t, e, n) : e.push({
                name: n,
                value: t
              })
            }) : e.push({
              name: i,
              value: t[o]
            }) : jsonToMap(t[o], e, i)
          }), e
        }
        function getCurrentFormSettings() {
          var data = $(top.document).find(".te-sidebar").serializeArray();
          data.push({
            name: "settings[content_for_index]",
            value: '["' + top.window.jsContentForIndex.join('","') + '"]'
          });
          for (var settings = {}, i = 0; i < data.length; i++) {
            var path = data[i].name.replace("settings", "").split("][").join("|").replace("[", "").replace("]", "").split("|"),
                value = data[i].value;
            mapToJson(path, value, settings)
          }
          return settings;
        }
        function MergerSectionsData(data) {
          var e = getCurrentFormSettings(),
              OldParams = {
                sections: {},
                accessToken: e.CurrentSettings
              };
          //       console.log(CurrentSettings);
          //       console.log(data);
          //       console.log($.extend({}, OldParams, data));
          return $.extend({}, OldParams, data);
        }
        function importData(data, configuration) {
          var params = {
            method: "PATCH",
            url: top.Shopify.routes.theme_editor_save(top.THEME_ID).html,
            data: data
          };
          //       console.log(data);
          var config = $.extend({}, params, configuration);
          //       console.log(config);
          top.Shopify.ajax(config)
          .done(function(response) {
            top.window.location.reload();
          })
          .fail(function(response) {
            console.info('fail', response);
          });
        }
        window.TheFourTheme = {
          /*  TheFourTheme.uploadImage('https://cdns.abc.com/jav.png', function(){ });
        * source typeof String*
        * callback Typeof function
        */
          uploadImage : function(source, callback, reject)
          {
            callback = ( typeof callback == 'function') ? callback : function(){};


            window.parent.jQuery.ajax({
              url: '/admin/images.json',
              type: 'POST',
              dataType: 'JSON',
              data: {image: {src: source } },
              success: callback
            })
            .done(function() {
              console.log("success");
            })
            .fail(function() {
              if(typeof reject == 'function'){
                reject();
              }else{
                alert('Error when get data');
              }
            })
            .always(function() {
              console.log("complete");
            });
          },
          /*  TheFourTheme.createPage( {title: "abc", "body_html" : "xxx" }, function(){ });
         * source: https://help.shopify.com/api/reference/page#create
        * source typeof String*
        * callback Typeof function
        */
          createPage : function(params, callback, reject)
          {
            callback = ( typeof callback == 'function') ? callback : function(){};
            window.parent.jQuery.ajax({
              url: '/admin/pages.json',
              type: 'POST',
              dataType: 'JSON',
              data:{page:  params},
              success: callback
            })
            .done(function() {
              console.log("success");
            })
            .fail(function() {
              if(typeof reject == 'function'){
                reject();
              }else{
                alert('Error when get data');
              }
            })
            .always(function() {
              console.log("complete");
            });
          },
          createMenu: function(params,callback, reject)
          { 
            callback = ( typeof callback == 'function') ? callback : function(){};
            window.parent.jQuery.ajax({
              url: '/admin/menus/apply_changes.json',
              type: 'POST',
              dataType: 'JSON',
              data: params,
              success: callback


            })
            .done(function() {
              console.log("success");
            })
            .fail(function() {
              if(typeof reject == 'function'){
                reject();
              }else{
                alert('Error when get data');
              }
              console.log("error");
            })
            .always(function() {
              console.log("complete");
            });
          },
          unityGetData: function(src, callback,reject){
            callback = ( typeof callback == 'function') ? callback : function(){};
            $.ajax({
              url: src,
              type: 'GET',
              dataType: 'JSON',
              success: callback,
              error: function(){
                if(typeof reject == 'function'){
                  reject();
                }else{
                  alert('Error when get data');
                }

              }

            })
            .done(function() {
              console.log("success");
            })
            .fail(function() {
              console.log("error");
            })
            .always(function() {
              console.log("complete");
            });

          }

        };
        $('body').on('click', '#gl_import_images', function(evt){
          var $this = $(this);
          $this.addClass('clicked');
          window.TheFourTheme.unityGetData($this.data('src'),function(data){
            if(typeof data != 'undefined')
            {

              function PromiseAjax(){
                if(data.length <=0)
                {
                  $this.removeClass('clicked');
                  return 0;
                }
                var current = data.pop();
                window.TheFourTheme.uploadImage(current, function(){
                  PromiseAjax();
                },PromiseAjax);
              }
              PromiseAjax();

            }
          });
        });
        /** Import menus **/
        $('body').on('click', '#gl_import_menus', function(evt){
          var $this = $(this);
          $this.addClass('clicked');
          window.TheFourTheme.unityGetData($this.data('src'),function(data){
            if(typeof data != 'undefined')
            {

              function PromiseAjax(){
                if(data.length <=0)
                {
                  $this.removeClass('clicked');
                  return 0;
                }
                var current = data.pop();
                window.TheFourTheme.createMenu(current, function(){
                  PromiseAjax();
                },PromiseAjax);
              }
              PromiseAjax();

            }
          });
        });

        /** Import page **/
        $('body').on('click', '#gl_import_pages', function(evt){
          var $this = $(this);
          $this.addClass('clicked');
          window.TheFourTheme.unityGetData($this.data('src'),function(data){
            if(typeof data != 'undefined')
            {

              function PromiseAjax(){
                if(data.length <=0)
                {
                  $this.removeClass('clicked');
                  return 0;
                }
                var current = data.pop();
                window.TheFourTheme.createPage(current.data, function(){
                  if(current.settings.length > 0 ){
                    window.parent.jQuery(current.settings.join(',')).val(current.data.handle);
                  }
                  PromiseAjax();
                },PromiseAjax);
              }
              PromiseAjax();

            }
          });
        });
      }
    </script>
    <script type="text/javascript">
      $(window).on("load", function() {
      // window.addEventListener('DOMContentLoaded', function() {
        if(window.parent.document.getElementById("ktTools-js") == null){
          var ktToolsJs = document.createElement("script");
          ktToolsJs.type = "text/javascript";
          ktToolsJs.id = "ktTools-js";
          ktToolsJs.src = "{{'ktTools.js'|asset_url}}";
          window.parent.document.getElementsByTagName("head")[0].appendChild(ktToolsJs);
        }
      });
    </script>