{%- if template.name == 'product' -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {%- if product.featured_image -%}
    {%- assign image_size = product.featured_image.width | append: 'x' -%}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {%- endif -%}
  "description": "{{ product.description | strip_html | escape | strip_newlines }}",
  {%- if current_variant.sku != blank -%}
    "sku": "{{ current_variant.sku }}",
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  {%- if product.metafields.ryviu.r_value != blank and product.metafields.ryviu.r_count != blank -%}
    {%- assign kt_rv_count =  product.metafields.ryviu.r_count -%}
    {%- assign kt_rv_val = product.metafields.ryviu.r_value -%}
    {%- if kt_rv_count != blank and kt_rv_val != blank -%}
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": {{ kt_rv_val }},
      "ratingCount": {{ kt_rv_count }}
    },
    {%- endif -%}
    {%- elsif product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" -%}
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{ product.metafields.yotpo.reviews_average }}",
        "ratingCount": "{{ product.metafields.yotpo.reviews_count  }}"
      },
  {%- elsif product.metafields.spr.reviews and product.metafields.spr.reviews != blank -%}
      {%- assign ratingCount = product.metafields.spr.reviews | split: 'reviewCount" content="' | last | split: '"' |first | plus: 0 -%}
       {%- assign ratingValue = product.metafields.spr.reviews | split: 'ratingValue" content="' | last | split: '"' |first | plus: 0  -%}
      {%- if ratingCount == 0 and ratingValue == 0 -%}
          {%- assign ratingCount = product.metafields.spr.reviews | split: 'votes" content="' | last | split: '"' |first | plus: 0 -%}
          {%- assign ratingValue = product.metafields.spr.reviews | split: 'average" content="' | last | split: '"' |first | plus: 0  -%}
      {%- endif -%}
      {% if ratingCount > 0 and ratingValue > 0 %}
      "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "{{ratingValue}}",
          "ratingCount": "{{ratingCount}}"
      },
      {%- endif -%}
   {%- elsif product.metafields.loox.num_reviews and product.metafields.loox.num_reviews != "0" -%}
      "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": {{ product.metafields.loox.avg_rating }},
      "ratingCount": {{ product.metafields.loox.num_reviews }}
      },
    {%- elsif product.metafields.alireviews.seo_rating_review_key_script != blank -%}
    {{product.metafields.alireviews.seo_rating_review_key_script}}
  {%- endif -%}
  {%- if product.price_varies -%}
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": "{{ variant.sku }}",
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : "{{ variant.price | divided_by: 100.00 }}",
        "priceCurrency" : "{{ cart.currency.iso_code }}",
        "url" : "{{ shop.url }}{{ variant.url }}"
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
  {%- else -%}
  "offers": [
    {
        "@type" : "Offer",
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : "{{ product.price | divided_by: 100.00 }}",
        "priceCurrency" : "{{ cart.currency.iso_code }}",
        "url" : "{{ shop.url }}{{ product.url }}"
    }
  ]
  {%- endif -%}
}
</script>
{%- endif -%}