<!-- /snippets/social-meta-tags.liquid -->
{%- assign t_name = template.name -%}
{%- case t_name -%}
  {%- when 'index' -%}
      {%- if settings.home_keywords != blank -%}<meta name="keywords" content="{{settings.home_keywords}}"/>{%- else -%}<meta name="keywords" content="{{shop.name}}, {{shop.domain}}"/>{%- endif -%}
    {%- when 'product' -%}
      <meta name="keywords" content="{{product.name}},{{shop.name}},{{shop.domain}}"/>
    {%- when 'collection' -%}
      <meta name="keywords" content="{{collection.name }},{{shop.name}},{{shop.domain}}"/>
    {%- when 'blog' -%}
      <meta name="keywords" content="{{blog.name }},{{shop.name}},{{shop.domain}}"/>
    {%- when 'article' -%}
      <meta name="keywords" content="{{article.title}},{{blog.name}},{{shop.name}},{{shop.domain}}"/>
    {%- when 'search' -%}
      <meta name="keywords" content="{{search.terms | default:'Shopify search'}},{{shop.name}},{{shop.domain}}"/>  
    {%- else -%}
      <meta name="keywords" content="{{page_title}},{{shop.name}},{{shop.domain}}"/>
{%- endcase -%}
<meta name="author" content="{{ settings.shop_author | default:'The4' }}">
{%- assign og_title = page_title -%}
{%- assign og_url = canonical_url -%}
{%- assign og_type = 'website' -%}
{%- assign og_description = page_description | default: shop.description | default: shop.name -%}
{%- if settings.share_image -%}
  {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ settings.share_image | img_url: '1200x1200' }}">{%- endcapture -%}
  {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ settings.share_image | img_url: '1200x1200' }}">{%- endcapture -%}
{%- endif -%}
{%- case t_name -%}
{%- when 'product' -%}
  {%- assign og_title = product.title | strip_html -%}
  {%- assign og_type = 'og:product' -%}
  {%- if product.images.size > 0 -%}
    {%- capture og_image_tags -%}{% for image in product.images limit:3 -%}<meta property="og:image" content="http:{{ image.src | product_img_url: '1200x1200' }}">{% endfor -%}{% endcapture -%}
    {%- capture og_image_secure_url_tags -%}{% for image in product.images limit:3 -%}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '1200x1200' }}">{% endfor -%}{% endcapture -%}
  {%- endif -%}
{%- when 'article' -%}
  {%- assign og_title = article.title | strip_html -%}
  {%- assign og_type = 'article' -%}
  {%- assign og_description = article.excerpt_or_content | strip_html -%}
  {% if article.image %}
    {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ article.image | img_url: '1200x1200' }}">{%- endcapture -%}
    {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1200x1200' }}">{%- endcapture -%}
  {%- endif -%}
{%- when 'collection' -%}
  {%- assign og_title = collection.title | strip_html -%}
  {%- assign og_type = 'product.group' -%}
  {%- if collection.image -%}
    {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ collection.image | img_url: '1200x1200' }}">{%- endcapture -%}
    {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ collection.image | img_url: '1200x1200' }}">{%- endcapture -%}
  {%- elsif settings.cat_bg_img != blank -%}
    {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ settings.cat_bg_img | img_url: '1200x1200' }}">{%- endcapture -%}
    {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ settings.cat_bg_img | img_url: '1200x1200' }}">{%- endcapture -%}
  {%- endif -%}
{%- when 'password' -%}
  {%- assign og_title = shop.name -%}
  {%- assign og_url = shop.url -%}
  {%- assign og_description = shop.description | default: shop.name -%}
{%- endcase -%}
<!-- adsadsdaassadvkl -->
<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description }}">
{%- if t_name == 'product' -%}
{%- comment -%}  <meta property="og:image:alt" content="{{ product.title | strip_html }}">{%- endcomment -%}
  <meta property="product:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
  <meta property="product:price:amount" content="{{ shop.currency }}">
{%- endif -%}
{{- og_image_tags -}}
{{- og_image_secure_url_tags -}}
{%- unless settings.social_twitter_link == blank -%}<meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">{%- endunless -%}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title }}">
<meta name="twitter:description" content="{{ og_description }}">
