<!doctype html>
<html lang="{{ shop.locale }}" class="no-js"{%- if settings.use_rtl %} dir="rtl"{%- endif-%}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <meta name="format-detection" content="telephone=no">
  <link rel="canonical" href="{{ canonical_url }}">  
<link rel="stylesheet" href="https://use.typekit.net/iga5exh.css">
  <link rel="stylesheet" href="{{ 'custom-dev.css' | asset_url }}">
  <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace('no-js', 'yes-js js_active js')</script>
  {%- if request.host contains 'demo-gecko-plus' -%}
  <script type="text/javascript">(function(){var externallyFramed=false;try{externallyFramed=top.location.host!=location.host;}catch(err){externallyFramed=true;}if(externallyFramed){top.location='{{ shop.secure_url }}';}})();</script>
  {% endif %}
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | img_url: '32x' }}">
  {% endif %}
   {%- if settings.favicon_apple != blank and settings.favicon_counter == false -%}
  <link rel="apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="{{ settings.favicon_apple | img_url: '152x' }}">
  
  {%- endif -%}
  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.seo.tags' | t: tags: meta_tags -}}
    {% endif %}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.seo.page' | t: page: current_page }}
    {%- endif -%}
    {%- unless page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  {%- if template contains 'index' -%}
      {%- if settings.home_page_keywords != '' and settings.home_page_keywords != null -%}
        <meta name="keywords" content="{{settings.home_page_keywords}}"/>
      {%- else- %}
        <meta name="keywords" content="{{shop.name}}, {{shop.domain}}"/>
      {%- endif- %}
    {%- elsif template contains 'product'-%}
      <meta name="keywords" content="{{product.name}},
                                     {%- for collection in product.collections -%}{{collection.name}}, {%- endfor -%}
                                     {%- if product.tags.size > 0 -%}{%- for tag in product.tags -%}{{tag}}, {%- endfor -%}{%- endif -%}{{shop.name}}, {{shop.domain}}"/>
    {%- elsif template contains 'collection' -%}
      <meta name="keywords" content="{{collection.name }}, {{shop.name}}, {{shop.domain}}"/>
    {%- elsif template contains 'blog' -%}
      <meta name="keywords" content="{{blog.name }}, {{shop.name}}, {{shop.domain}}"/>
    {%- elsif template contains 'article' -%}
      <meta name="keywords" content="{{article.title}}, {{blog.name}}, 
                                     {%- if article.tags.size > 0-%}{%- for tag in article.tags -%}{{tag}}, {%- endfor -%}{%- endif -%}
                                     {{shop.name}}, {{shop.domain}}"/>
    {%- else -%}
      <meta name="keywords" content="{{page_title}}, {{shop.name}}, {{shop.domain}}"/>
    {%- endif -%}
  <meta name="author" content="{{ settings.home_page_author | default:'The4' }}">
  {%- include 'social-meta-tags' -%}
  {%- include 'head_css' -%}
  {%- include 'theme_css' -%}
  {%- if settings.use_rtl -%}{%- include 'rtl_css' -%}{%- endif -%}
  {%- include 'css_setting' -%}
  {%- if settings.show_custom_css -%}{{ 'custom.css' | asset_url | stylesheet_tag }}{%- endif-%}
  {%- if template contains 'product' -%}{%- include 'gecko_check_variant' -%}{%- endif-%}
  {%- assign admin_shopify = false -%}
  {%- include 'check_admin' -%}
  {%- if check_admin contains 'design_mode' -%}{%- assign admin_shopify = true -%}{%- endif -%}
  <script>var NT4 = NT4 || {};NT4.designMode = {{admin_shopify}};</script>
  {%- if template.name == 'product' -%}{%- include 'product_js' -%}{%- endif -%}
  <script type="text/javascript" src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
  <script type="text/javascript" src="{{ 'jquery.min.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'pre_vendor.min.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'pre_theme.min.js' | asset_url }}"></script>
   {%- if settings.enable_ave_verification and admin_shopify == false -%}
   <noscript><meta http-equiv="refresh" content="1; url={{settings.link_age_exit | default:'https://google.com/'}}" /></noscript>
    {%- endif -%}
  {{ content_for_header }}
{% comment %}{{ 'nitro-bundle-upsell.scss.css'| asset_url | stylesheet_tag }}{% endcomment %}
{%- if settings.app_review == '2' -%}<script type="text/javascript">var ryviu_user_settings = {{shop.metafields.ryviu.user_settings | json}};</script>{%- endif -%}
{%- if settings.app_review == '5' -%}{{ shop.metafields.okendo.ReviewsWidgetStyleTag }}{{ shop.metafields.okendo.StyleCustomizations }}{%- endif -%}

  {% if template contains 'product' %} {% elsif template contains 'collection'  %} {% else %} {% include 'shoppable_instagram_init' %}{% endif %}
 
  
   
{% render 'pagefly-header' %}
 </head> 

{%- include 'catelog_mod' -%}
<body class="nt_storage app_review_{{settings.app_review}} template-{{template.name}} wrapper-{{settings.general_layout}} ajax-shop-{{settings.ajax_shop}} jas_action_{{settings.gecko_options_add_to_cart_action}}{%- if settings.header_design == '7' %} header-lateral{%- endif %}{%- if settings.sticky_footer_enable %} footer_sticky{%- endif %}{%- if settings.body_bg_image != blank %} lazyload{%- endif %}{%- if settings.use_rtl %} rtl{%- endif %}{%- if customer %} logged-in{%- endif %}{% if settings.nt_flag %} nt_flag{%- endif %}{% if checkout_active == false %} catalog_hide_on{% if settings.catalog_popup %} catalog_mode_on{%- endif -%}{%- endif -%}"{%- if settings.body_bg_image != blank %} data-bgset="{%- include 'bgset', image: settings.body_bg_image -%}" data-sizes="auto" data-parent-fit="cover"{%- endif -%}>
   {%- if settings.preloader -%}<!-- Preloader Start --><div id="preloader"><div class="gk_loader"></div></div>{%- endif -%}
  {%- if customer == blank and settings.login_side and none -%}{%- include 'login_side' -%}{%- endif -%}
    
    <div class="jas-canvas-menu jas-push-menu">
      {%- include 'jas_mobile_menu' -%}
    </div>
   {%- if settings.cart_position == 'side' -%}
     {%- include 'cart_widget_side'-%}
     <!-- .jas-mini-cart -->
   {%- endif -%}
   <div id="jas-wrapper">
      {% comment %}include header{% endcomment %}
      {%- include 'header' -%}
      <!-- #jas-header -->
      <div id="jas-content" class="main-page-wrapper">
      {%- if template == 'collection' and settings.use_top_categories -%}{%- include 'shop_top_sidebar' -%}{%- endif -%}
          {{ content_for_layout }} 
      </div>
      {% comment %}include footer{% endcomment %}
      {%- include 'footer' -%}
      <!-- #jas-footer -->
      {%- if settings.enable_cookies_popup -%}{%- include 'gecko-cookies-popup' -%}{%- endif -%}
      {%- if settings.enable_suggest_products and none -%}{%- include 'jas_suggest' -%}{%- endif -%}
      {%- if settings.show_sticky_add and template.name == 'product' and product.available == true and linklists[product.handle].links.size == 0 -%}{%- include 'sticky_add_to_cart' -%}{%- endif -%}
     
   </div>
   <!-- #jas-wrapper -->
  {%- if settings.enable_suggest_products -%}{%- include 'nt_suggest' -%}{%- endif -%}
   {%- if settings.show_backtop -%}<a id="jas-backtop" class="pf br__50 dn"><span class="tc bgp br__50 db cw"><i class="pr pe-7s-angle-up"></i></span></a>{%- endif -%}
   <div class="mask-overlay"></div>
   {%- if settings.swatch_style == '1' or settings.product_layout_setting == '1' or settings.quick_layout_setting == '1' -%}{%- section 'gl_custom_color' -%}{%- endif -%}
   {%- include 'gecko_settings' -%}
   {%- if template.name == 'collection' or template.name == 'product' -%}{%- include 'seo_json' -%}{%- endif -%}
   {%- if pages[settings.delivery_return].content != blank and template contains 'product' -%}
  <div id="delivery-return" class="mfp-with-anim mfp-hide popup-quick-view">
    {%- unless pages[settings.delivery_return].content contains 'wc-content-help' -%}
    <div class="wc-content-help pr">{{ pages[settings.delivery_return].content }}</div>
    {%- else -%}
    {{ pages[settings.delivery_return].content }}
    {%- endunless -%}
  </div>
  {%- endif -%}
    {%- if customer == blank and settings.login_side -%}<div id="login_side" class="mfp-with-anim mfp-hide popup-quick-view">{%- include 'login_side' -%}</div>{%- endif -%}
   {%- include 'theme_js' -%}
      {%- if admin_shopify -%}
       {{ 'fix.scss.css' | asset_url | stylesheet_tag }}
   {%- include 'adminThemeTool' -%}
   {%- endif -%}
   {%- include 'gecko-promo-popup' -%}
   {%- if settings.enable_ave_verification -%}{%- include 'age-check' -%}{%- endif -%}
   {%- include 'photoswipe' -%}
   {%- if settings.show_product_rating and settings.app_review == '2'-%}
   <!--  RYVIU APP -->
   <script src="https://cdn.ryviu.com/js/reviews.js?shop={{shop.permanent_domain}}"></script>
   <!--  / RYVIU APP -->
   {%- elsif settings.show_product_page_rating and settings.app_review == '2'-%}
   <!--  RYVIU APP -->
   <script src="https://cdn.ryviu.com/js/reviews.js?shop={{shop.permanent_domain}}"></script>
   <!--  / RYVIU APP -->
   {%- endif -%}
  {% comment %}{% include 'nitro-bundle-upsell'  %}
  {{ 'https://lookbook.teathemes.net/public/shop-libs/nitro-lookbook.js' | script_tag }}{% endcomment %}
  {%- if settings.falling_snow -%}{%- include 'falling_snow' -%}{%- endif -%}
  {%- if content_for_layout contains 'jas-banner-video' -%}<script async="async" type="text/javascript" src="https://www.youtube.com/iframe_api"></script>{% endif %}
   {%- if content_for_layout contains 'jas-gmap' and settings.api_key != blank -%}
   <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key={{settings.api_key}}"></script>
   {%- elsif content_for_layout contains 'jas-gmap' -%}
   <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key"></script>
   {%- endif -%}
{%- if settings.platform_email == '3' and settings.use_ajax_klaviyo -%}
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>      
<script type="text/javascript">
  jQuery.each(jQuery('.klaviyo_sub_frm'), function(){
    KlaviyoSubscribe.attachToForms('#'+jQuery(this).attr('id'), {
      custom_success_message: true,
      extra_properties: {$source: 'NewsletterPopup',Brand: '{{shop.name}}'},
      success: function ($form) {}
    });
  });
  var body = jQuery('body');
  body.on('click', '.klaviyo_btn', function (e) {
    jQuery(this).val(nathan_settings.mc_subscribing).html(nathan_settings.mc_subscribing);
  });
  body.bind( "klaviyo.subscribe.success klaviyo.subscribe.error",  function(e){
    jQuery(e.target).find('[type="submit"]').val(nathan_settings.mc_submit).html(nathan_settings.mc_submit);
    //console.log($(e.target))
  });
</script>
{%- endif -%}
</body>
</html>
