{%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
{%- include 'style_mp_section' -%}
<div class="jas_custom_{{section.id}}">
   <div class="jas-row">
      {%- for block in section.blocks -%}
         {%- case block.type -%}
            {%- when 'banner' -%}
               <div class="{%- cycle 'one', 'two' %} jas-col-sm-6 jas-col-xs-12 center-xs banner_pr pr lazyload" data-bgset="{%- if block.settings.image != blank %}{%- include 'bgset', image: block.settings.image -%}{%- else -%}https://placehold.it/1728x972/eee/999 1728w 972h,https://placehold.it/1920x1080/eee/999 1920w 1080h{%- endif -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url('{%- if block.settings.image != blank %}{{ block.settings.image | img_url: '50x50' }}{%- else -%}https://placehold.it/50x50/eee/999{%- endif -%}');">
                  <div class="jas_empty_space"><span class="jas_empty_space_inner"></span></div>
                  <div class="jas_wrapper">
                     <div class="pa-center tl">
                        {%- if block.settings.title != blank -%}<h4 class="fs__14 f__lt tu cw mg__0">{{block.settings.title}}</h4>{%- endif -%}
                        {%- if block.settings.sub_text != blank -%}<h3 class="fs__50 ls__1 cw fwb lh__1 mg__0"><a class="cw" href="{{block.settings.url}}">{{block.settings.sub_text}}</a></h3>{%- endif -%}
                     </div>
                  </div>
                  <div class="jas_empty_space"><span class="jas_empty_space_inner"></span></div>
                  <div class="jas-wrap-lazy"></div>
               </div>
            {%- when 'collection' -%}
               <div class="{%- cycle 'one', 'two' %} jas-col-sm-6 jas-col-xs-12 jas_class_pr">
                  {%- assign pr_style = block.settings.style -%}
                  {%- assign paginate_index = block.settings.paginate_index | plus: 0 -%}
                    {%- assign show_vendor = block.settings.show_vendor -%}
                    {%- assign settings_pr_img_size = block.settings.use_eq_height -%}
                    {%- assign section_settings_countdown = block.settings.sale_countdown -%}
                    {%- assign countdown_timer_style = block.settings.countdown_style -%}
                    {%- assign use_pagination = block.settings.use_pagination -%}
                    {%- assign collection = collections[block.settings.collection] -%}
                    {%- assign grid_columns = block.settings.grid_column -%}
                    {%- assign grid_columns_mb = block.settings.grid_columns_mb -%}
                    {%- assign current_page = '1' -%}
                  {%- paginate collection.products by paginate_index -%}
                     <div class="jas-sc-products {{pr_style}}">
                        <div class="products jas-row jas-products-holder {{block.settings.image_size}} {{block.settings.image_ratio}} position_{{block.settings.image_position}}{%- if settings_pr_img_size %} equal-nt{%- endif -%}">
                         {%- for product in collection.products -%}
                            {%- include 'jas_product_loop',class_sm:'6' -%}
                         {%- else -%}
                            {%- for i in (1..4) -%}
                            <div class="jas-grid-item jas-col-md-{{grid_columns}} jas-col-sm-6 jas-col-xs-{{grid_columns_mb}} mt__30 product has-post-thumbnail">
                              <div class="jas-product-image jas-product-image-equal pr oh">
                                <a href="/admin/products" class="jas-product-img-element jas-pr-image-link">
                                  {%- capture current -%}{%- cycle 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
                                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                </a>
                              </div>
                              <div class="product-info mt__15">
                                <h3 class="product-title pr fs__14 mg__0 fwm"><a class="cd chp" href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></h3>
                                <span class="price"><ins>$30.00</ins> <del>$35.00</del></span>
                              </div>
                            </div>
                            {%- endfor -%}
                         {%- endfor -%}
                       </div>
                     </div>
                  {%- endpaginate -%}
               </div>
         {%- endcase -%}
      {%- endfor -%}
   </div>
</div>
{%- schema -%}
  {
    "name": "Products Banner",
    "class": "jas-section type_jas_banner_collection",
    "settings": [
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_left",
        "label": "Margin left",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_right",
        "label": "Margin right",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_top",
        "label": "Padding top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_right",
        "label": "Padding right",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_bottom",
        "label": "Padding bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_left",
        "label": "Padding left",
        "info": "60px"
      }
    ],
    "blocks": [{
       "type": "collection",
       "name": "Collection",
       "settings": [
         {
           "id": "collection",
           "type": "collection",
           "label": "Collection"
         },
         {
           "type": "select",
           "id": "grid_column",
           "label": "Columns",
           "default": "6",
           "options": [
             {
               "value": "6",
               "label": "2"
             },
             {
               "value": "4",
               "label": "3"
             },
             {
               "value": "3",
               "label": "4"
             }
           ]
         },
         {
           "type": "select",
           "id": "grid_columns_mb",
           "label": "Columns Mobile",
           "default": "6",
           "options": [
             {
               "value": "12",
               "label": "1"
             },
             {
               "value": "6",
               "label": "2"
             }
           ]
         },
         {
           "type": "text",
           "id": "paginate_index",
           "label": "Items per page ( integer )",
           "info": "Number of items to show per page.",
           "default": "4"
         },
         {
           "type": "select",
           "id": "style",
           "label": "Product Style",
           "default": "jas_default",
           "options": [
             {
                "value": "jas_default",
                "label": "style 1 (Default)"
              },
              {
                "value": "jas_pr_tc",
                "label": "style 2 (text center)"
              }
           ]
         },
         {
           "type": "checkbox",
           "id": "show_vendor",
           "label": "Show product vendors",
           "default": false
         },
         {
           "type": "checkbox",
           "id": "sale_countdown",
           "default": false,
           "label": "Use Sale countdown",
           "info": "Countdown to the end sale date will be shown. Be sure you have set final date of the product sale price. product.metafields.meta.countdown ( 2018/01/19 )"
         },
         {
          "type": "select",
          "id": "countdown_style",
          "label": "Countdown style",
          "default": "dark",
          "options": [
            {
              "value": "light",
              "label": "Countdown timer light"
            },
            {
              "value": "dark",
              "label": "Countdown timer dark"
            }
          ]
        },
        {
          "type": "header",
          "content": "== Design Image"
        },
        {
          "type": "checkbox",
          "id": "use_eq_height",
          "label": "Use equal height images?",
          "default": false
        },
        {
          "type": "select",
          "id": "image_ratio",
          "label": "Aspect Ratio",
          "default": "ratio_nt",
          "options": [
            {
              "value": "ratio2_1",
              "label": "2:1"
            },
            {
              "value": "ratio16_9",
              "label": "16:9"
            },
            {
              "value": "ratio8_5",
              "label": "8:5"
            },
            {
              "value": "ratio3_2",
              "label": "3:2"
            },
            {
              "value": "ratio4_3",
              "label": "4:3 (Landscape)"
            },
            {
              "value": "ratio1_1",
              "label": "1:1 (Square)"
            },
            {
              "value": "ratio_nt",
              "label": "Ratio ASOS"
            },
            {
              "value": "ratio2_3",
              "label": "2:3 (Portrait)"
            },
            {
              "value": "ratio1_2",
              "label": "1:2"
            },
            {
              "value": "ratio_cus1",
              "label": "Ratio Custom 1"
            },
            {
              "value": "ratio_cus2",
              "label": "Ratio Custom 2"
            },
            {
              "value": "ratio_cus3",
              "label": "Ratio Custom 3"
            },
            {
              "value": "ratio_cus4",
              "label": "Ratio Custom 4"
            }
          ]
        },
        {
          "type": "select",
          "id": "image_size",
          "label": "Image Size",
          "default": "nt_cover",
          "options": [
            {
              "value": "nt_cover",
              "label": "Full"
            },
            {
              "value": "nt_contain",
              "label": "Auto"
            }
          ]
        },
        {
          "type": "select",
          "id": "image_position",
          "info":"The first value is the horizontal position and the second value is the vertical.",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "1",
              "label": "Left Top"
            },
            {
              "value": "2",
              "label": "Left Center"
            },
            {
              "value": "3",
              "label": "Left Bottom"
            },
            {
              "value": "4",
              "label": "Right Top"
            },
            {
              "value": "5",
              "label": "Right Center"
            },
            {
              "value": "6",
              "label": "Right Bottom"
            },
            {
              "value": "7",
              "label": "Center Top"
            },
            {
              "value": "8",
              "label": "Center Center"
            },
            {
              "value": "9",
              "label": "Center Bottom"
            }
          ],
          "label": "Image Position",
          "default": "8"
        }
       ]
     },
     {
       "type": "banner",
       "name": "banner",
       "settings": [
         {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
         },
         {
            "label": "Link to",
            "id": "url",
            "type": "url"
          },
         {
            "type": "text",
            "id": "title",
            "label": "Text",
            "default": "Spring/summer 2018"
         },
         {
            "type": "textarea",
            "id": "sub_text",
            "label": "Sub Text",
            "default": "Dining Room Collection"
         }
       ]
    }],
    "presets": [
      {
        "name": "Products Banner",
        "category": "== Collections",
        "blocks": [
           {
             "type": "banner"
           },
           {
             "type": "collection"
           }
         ]
      }
    ]
  }
{% endschema %}
