{%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
{%- include 'style_mp_section' -%}
<div class="jas_custom_{{section.id}}{%- if section.settings.use_container %} jas-container{%- else %} jas-full{%- endif -%}">
  {%- assign sett_title = section.settings.title -%}
  {%- assign sett_sub_title = section.settings.sub_title -%}
  {%- assign style_title = section.settings.style_title -%}
  {%- include 'jas_section_title',mg_class:'mb__30' -%}
  <div class="jas_tta-container">
    <div class="jas_general">
      <div class="jas_tta-tabs-container pr">
        <div class="gecko-products-loader"></div>
        <ul class="jas_tta-tabs-list{%- if section.settings.use_ajax_tab %} products_tabs_ajax{%- endif -%}">
          {%- for block in section.blocks -%}
          {%- assign collection = collections[block.settings.collection] -%}
          {%- if section.settings.use_ajax_tab %}
            {%- assign paginate_index = block.settings.paginate_index | plus: 0 -%}
            {%- assign show_vendor = block.settings.show_vendor -%}
            {%- assign settings_pr_img_size = block.settings.use_eq_height -%}
          {%- assign img_size = block.settings.image_size -%}
            {%- assign section_settings_countdown = block.settings.sale_countdown -%}
            {%- assign collection = collections[block.settings.collection] -%}
            {%- assign grid_columns = '12' -%}
            {%- assign grid_columns_mb = '12' -%}
            {%- assign current_page = '1' -%}
          {%- endif -%}
          <li data-id="{{block.id}}" class="jas_tta-tab{%- if forloop.first %} jas_active{%- endif -%}"{%- if section.settings.use_ajax_tab %} data-atts='{{ collection.url }}?{{ next_url }}&q=paginate_{{paginate_index}}+vendor_{{ show_vendor }}+img_size_{{ settings_pr_img_size }}+countdown_{{ section_settings_countdown }}+sidetoshow_{{block.settings.sidetoshow}}+autoplay_{{block.settings.use_autoplay}}+autoplaySpeed_{{block.settings.slider_speed}}+infinite_{{block.settings.use_loop}}+arrows_{{block.settings.use_arrows}}+dots_{{block.settings.use_dots}}+slidesToShow_1024_{{block.settings.sidetoshow_first}}+slidesToShow_600_{{block.settings.sidetoshow_center}}+slidesToShow_480_{{block.settings.sidetoshow_last}}+image_size_{{img_size}}+ntratio_{{block.settings.image_ratio}}+position_{{block.settings.image_position}}&view=ajax_tab_owl'{%- endif -%}>
            <a href="#{{block.id}}"><span class="jas_tta-title-text">{%- if block.settings.title != blank -%}{{ block.settings.title }}{%- else -%}{{collection.title}}{%- endif -%}</span></a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="jas_tta-panels-container">
        <div class="jas_tta-panels">
          {%- for block in section.blocks -%}
          {%- assign pr_style = block.settings.style -%}
          <div class="jas_tta-panel {{pr_style}}{%- if forloop.first%} jas_active{%- endif %}{%- if section.settings.use_ajax_tab == false %} not_ajax{%- endif %}" id="{{block.id}}">
            <div class="jas_tta-panel-body">
              {%- assign paginate_index = block.settings.paginate_index | plus: 0 -%}
              {%- assign show_vendor = block.settings.show_vendor -%}
              {%- assign settings_pr_img_size = block.settings.use_eq_height -%}
              {%- assign section_settings_countdown = block.settings.sale_countdown -%}
              {%- assign countdown_timer_style = block.settings.countdown_style -%}
              {%- assign collection = collections[block.settings.collection] -%}
              {%- assign grid_columns = '12' -%}
              {%- assign grid_columns_mb = '12' -%}
              {%- assign current_page = '1' -%}
              {%- paginate collection.products by paginate_index -%}
              <div class="products jas-row jas-products-holder jas-carousel {{block.settings.image_size}} {{block.settings.image_ratio}} position_{{block.settings.image_position}}{%- if settings_pr_img_size %} equal-nt{%- endif -%}" data-slick='{"slidesToShow": {{ block.settings.sidetoshow }},"slidesToScroll": 1, "autoplay": {{ block.settings.use_autoplay }}, "autoplaySpeed": {{ block.settings.slider_speed }}000,"rtl": {{ settings.use_rtl }}, "infinite": {{block.settings.use_loop}}, "arrows": {{block.settings.use_arrows}},"dots": {{block.settings.use_dots}}, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": {{ block.settings.sidetoshow_first}} }},{"breakpoint": 600,"settings":{"slidesToShow": {{ block.settings.sidetoshow_center}} }},{"breakpoint": 480,"settings":{"slidesToShow": {{ block.settings.sidetoshow_last}} }}]}'>
                {%- for product in collection.products -%}
                {%- include 'jas_product_loop' -%}
                {%- else -%}
                {%- for i in (1..8) -%}
                <div class="jas-grid-item jas-col-md-{{grid_columns}} jas-col-sm-4 jas-col-xs-{{grid_columns_mb}} mt__30 product has-post-thumbnail">
                  <div class="jas-product-image jas-product-image-equal pr oh">
                    <a href="/admin/products" class="jas-product-img-element jas-pr-image-link">
                      {%- capture current -%}{%- cycle 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </a>
                  </div>
                  <div class="product-info mt__15">
                    <h3 class="product-title pr fs__14 mg__0 fwm"><a class="cd chp" href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></h3>
                    <span class="price"><ins>$30.00</ins> <del>$35.00</del></span>
                  </div>
                </div>
                {%- endfor -%}
                {%- endfor -%}
              </div>
              {%- endpaginate -%}
            </div>
          </div>
          {%- if section.settings.use_ajax_tab -%}{%- break -%}{%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{%- schema -%}
{
  "name": "Products Tabs Carousel",
  "class": "jas-section type_jas_fea_coll_tab_owl",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "collection tab"
    },
    {
      "type": "textarea",
      "id": "sub_title",
      "label": "Sub Text",
      "default": "Sub Text"
    },
    {
        "type": "select",
        "id": "style_title",
        "options": [
         {
            "value": "1",
            "label": "Style 1"
         },
         {
            "value": "2",
            "label": "Style 2"
          }
        ],
        "label": "Style title"
      },
    {
      "type": "checkbox",
      "id": "use_ajax_tab",
      "label": "Use Ajax Tab?",
      "default": false
    },
    {
      "type": "header",
      "content": "== Design Options"
    },
    {
      "type": "checkbox",
      "id": "use_container",
      "label": "Use container?",
      "default": true
    },
    {
      "type": "text",
      "id": "section_margin_top",
      "label": "Margin top",
      "info": "60px"
    },
    {
      "type": "text",
      "id": "section_margin_bottom",
      "label": "Margin bottom",
      "info": "60px"
    },
    {
      "type": "text",
      "id": "section_margin_left",
      "label": "Margin left",
      "info": "60px"
    },
    {
      "type": "text",
      "id": "section_margin_right",
      "label": "Margin right",
      "info": "60px"
    },
    {
      "type": "text",
      "id": "section_padding_top",
      "label": "Padding top",
      "info": "60px"
    },
    {
      "type": "text",
      "id": "section_padding_right",
      "label": "Padding right",
      "info": "60px"
    },
    {
      "type": "text",
      "id": "section_padding_bottom",
      "label": "Padding bottom",
      "info": "60px"
    },
    {
      "type": "text",
      "id": "section_padding_left",
      "label": "Padding left",
      "info": "60px"
    }
  ],
  "blocks": [{
    "type": "collection",
    "name": "Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title block (optional)",
        "default": "collection title",
        "info": "Leave empty to use 'collection title' title."
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "text",
        "id": "paginate_index",
        "label": "Items per page ( integer )",
        "info": "Number of items to show per page.",
        "default": "8"
      },
      {
        "type": "select",
        "id": "style",
        "label": "Product Style",
        "default": "jas_default",
        "options": [
          {
            "value": "jas_default",
            "label": "style 1 (Default)"
          },
          {
            "value": "jas_pr_tc",
            "label": "style 2 (text center)"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sale_countdown",
        "default": false,
        "label": "Use Sale countdown",
        "info": "Countdown to the end sale date will be shown. Be sure you have set final date of the product sale price. product.metafields.meta.countdown ( 2018/01/19 )"
      },
      {
        "type": "select",
        "id": "countdown_style",
        "label": "Countdown style",
        "default": "dark",
        "options": [
          {
            "value": "light",
            "label": "Countdown timer light"
          },
          {
            "value": "dark",
            "label": "Countdown timer dark"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Design Image"
      },
      {
        "type": "checkbox",
        "id": "use_eq_height",
        "label": "Use equal height images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Aspect Ratio",
        "default": "ratio_nt",
        "options": [
          {
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "value": "ratio4_3",
            "label": "4:3 (Landscape)"
          },
          {
            "value": "ratio1_1",
            "label": "1:1 (Square)"
          },
          {
            "value": "ratio_nt",
            "label": "Ratio ASOS"
          },
          {
            "value": "ratio2_3",
            "label": "2:3 (Portrait)"
          },
          {
            "value": "ratio1_2",
            "label": "1:2"
          },
          {
            "value": "ratio_cus1",
            "label": "Ratio Custom 1"
          },
          {
            "value": "ratio_cus2",
            "label": "Ratio Custom 2"
          },
          {
            "value": "ratio_cus3",
            "label": "Ratio Custom 3"
          },
          {
            "value": "ratio_cus4",
            "label": "Ratio Custom 4"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image Size",
        "default": "nt_cover",
        "options": [
          {
            "value": "nt_cover",
            "label": "Full"
          },
          {
            "value": "nt_contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info":"The first value is the horizontal position and the second value is the vertical.",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Left Top"
          },
          {
            "value": "2",
            "label": "Left Center"
          },
          {
            "value": "3",
            "label": "Left Bottom"
          },
          {
            "value": "4",
            "label": "Right Top"
          },
          {
            "value": "5",
            "label": "Right Center"
          },
          {
            "value": "6",
            "label": "Right Bottom"
          },
          {
            "value": "7",
            "label": "Center Top"
          },
          {
            "value": "8",
            "label": "Center Center"
          },
          {
            "value": "9",
            "label": "Center Bottom"
          }
        ],
        "label": "Image Position",
        "default": "8"
      },
      {
       "type": "header",
       "content": "== settings Slider"
      },
     {
        "type": "range",
        "id": "slider_speed",
        "min": 1,
        "max": 30,
        "step": 1,
        "label": "Autoplay Speed in milliseconds",
        "unit": "sec",
        "default": 6
      },
      {
        "type": "checkbox",
        "id": "use_autoplay",
        "label": "Use autoplay?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_arrows",
        "label": "Use Arrows?",
        "default": true
      },
{
        "type": "checkbox",
        "id": "use_dots",
        "default": false,
        "label": "Use pagination control?"
      },
      {
        "type": "checkbox",
        "id": "use_loop",
        "label": "Use Infinite loop sliding?",
        "default": false
      },
      {
        "type": "range",
        "id": "sidetoshow",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "slides To Show",
        "default": 4
      },
      {
       "type": "header",
       "content": "=== breakpoint: 1024"
      },
      {
        "type": "range",
        "id": "sidetoshow_first",
        "min": 1,
        "max": 10,
        "step": 1,
        "label": "slides To Show",
        "default": 3
      },
      {
       "type": "header",
       "content": "=== breakpoint: 600"
      },
      {
        "type": "range",
        "id": "sidetoshow_center",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "slides To Show",
        "default": 2
      },
      {
       "type": "header",
       "content": "=== breakpoint: 480"
      },
      {
        "type": "range",
        "id": "sidetoshow_last",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "slides To Show",
        "default": 2
      }
    ]
  }],
  "presets": [
    {
      "name": "Products Tab Carousel",
      "category": "== Collections",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
