@media (min-width: 1024px) {
    a.jas-push-menu-btn.pr {
        display: none;
    }
}
.sc-hOGkXu.krzkQM.pf-132_ {
    justify-content: space-between;
}

.needsclick.kl-private-reset-css-Xuajs1 {
    display: none !important;
}

@media (max-width: 749px) {
    .metaslider.metaslider-flex.ml-slider {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 750px) {
    .hide--desktop {
        display: none !important;
    }
}

@media (max-width: 749px) {
    .hide--mobile {
        display: none !important;
    }
}