/* PageFly Element Styles */
					.jTyxWz__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.jTyxWz { padding: 15px 0px; position: relative; }
.jTyxWz .sc-iGPElx { position: relative; }
.jTyxWz[data-container="true"] .sc-iGPElx { padding: 0px 15px; width: 100%; margin: auto; }
.jTyxWz .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.esHQAk { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .esHQAk { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .esHQAk { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .esHQAk { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.ihgKoy { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .ihgKoy { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .ihgKoy { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .ihgKoy { padding: var(--pf-s-xs); }
}
.jeNnQp { position: relative; }
.dvoYrL { word-break: break-word; }
.dvoYrL span { font-weight: inherit; }
.dvoYrL i { margin-right: 0.3em; }
.bUByoE { display: inline-block; }
.bUByoE[contenteditable="true"] { user-select: text; }
.bUByoE { vertical-align: baseline; word-break: break-word; }
.bUByoE:focus { outline: none; }
.bUByoE::after { display: inline; }
.hAGKNu { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.hAGKNu img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.ingihq { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.pifge { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.pifge i { margin-right: 0.3em; }
.pifge:hover, .pifge:active, .pifge:focus { color: inherit; text-decoration: none; }
.dOVMyy { font-family: FontAwesome !important; }
.jgNuiy { margin: 0px -15px; }
.jgNuiy .pf-blm { margin: 30px auto 0px; flex-basis: 100%; text-align: center; }
.jgNuiy .pf-bpa { flex-basis: 100%; text-align: center; display: flex; -webkit-box-pack: center; justify-content: center; margin-top: 30px; }
.jgNuiy .pf-bpa a { cursor: pointer; padding: 2px 10px; margin: 2px; border: 1px solid transparent; border-radius: 2px; position: relative; }
.jgNuiy .pf-bpa a.currentPage { border-color: rgba(0, 0, 0, 0.1); pointer-events: none; }
.jgNuiy .pf__shopify-product { width: 100%; text-align: center; }
.jgNuiy .pf-c { padding: 15px; display: flex; }
.jgNuiy .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; max-width: 100%; position: relative; }
.jgNuiy .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.jgNuiy .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.jgNuiy .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.jgNuiy .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.jgNuiy .product__button span { pointer-events: none; }
.jgNuiy .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.jgNuiy .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.jgNuiy .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.jgNuiy .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.jgNuiy .shopify__product-vertical, .jgNuiy .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.jgNuiy .shopify__product-vertical .product__info, .jgNuiy .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.jgNuiy .shopify__product-horizontal { display: -webkit-flex; }
.jgNuiy .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.jgNuiy .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.jgNuiy .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.jgNuiy .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
					/* PageFly Styles */
					
@media all {
	.__pf .pf-f506f0ac {
		font-size: 32px;
		 text-align: center;
		 font-family: Assistant;
		 font-weight: 400;
		 margin-bottom: 0px;
		 color: rgb(74, 74, 74);
		 padding-top: 25px;
		 padding-bottom: 15px;
	}
	.__pf .pf-82269d4b {
		font-size: 16px;
		 text-align: justify;
		 font-family: Assistant;
		 font-weight: 400;
		 margin-bottom: 0px;
		 color: rgb(74, 74, 74);
		 padding-bottom: 25px;
	}
	.__pf .pf-ff1e2980 {
		padding: 25px 0px;
		 font-family: Assistant;
		 font-size: 16px;
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 text-align: center;
	}
	.__pf .pf-aee66a90 {
		color: rgb(74, 74, 74);
		 border-style: none;
		 border-color: rgb(74, 74, 74);
		 background-color: rgb(255, 255, 255);
		 padding-top: 10px;
		 margin-bottom: 0px;
	}
	.__pf .pf-36e20024 {
		font-size: 32px;
		 text-align: center;
		 font-family: Assistant;
		 font-weight: 400;
		 margin-bottom: 0px;
		 color: rgb(255, 255, 255);
		 padding-bottom: 25px;
		 padding-top: 25px;
		 background-color: rgb(145, 167, 173);
	}
	.__pf .pf-8eb335c8 {
		text-align: justify;
		 font-family: Assistant;
		 font-weight: 400;
		 font-size: 16px;
		 color: rgb(255, 255, 255);
		 margin-bottom: 25px;
		 line-height: 23px;
		 padding: 10px 0px;
		 letter-spacing: 0px;
		 display: flex;
		 background-color: rgb(145, 167, 173);
	}
	.__pf .pf-aeca1ab1 {
		font-size: inherit;
	}
	.__pf .pf-9056f348 {
		border: 2px solid rgb(74, 74, 74);
		 font-size: 14px;
		 background-color: rgb(255, 255, 255);
		 font-family: Assistant;
		 color: rgb(74, 74, 74);
		 padding-left: 42px;
		 padding-right: 42px;
	}
	.__pf .pf-9056f348:hover {
		color: rgb(255, 255, 255);
		 font-family: Assistant;
		 border-style: solid;
		 background-color: rgb(74, 74, 74);
		 border-color: rgb(255, 255, 255);
	}
	.__pf .pf-cf962efe {
		text-align: center;
	}
	.__pf .pf-8c0b2b28 {
		font-size: 18px;
	}
	.__pf .pf-bb3e8887 {
		font-size: 18px;
		 font-family: Assistant;
		 font-weight: 400;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-ae9dfd9c {
		text-align: center;
		 background-position: 100% 50%;
	}
	.__pf .pf-f7c2338b {
		text-align: center;
		 padding-left: 0px;
		 line-height: 1em;
		 color: rgb(74, 74, 74);
		 background-color: rgb(145, 167, 173);
	}
	.__pf .pf-96f898db {
		font-size: 32px;
		 text-align: center;
		 font-family: Assistant;
		 font-weight: 400;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-6e6657d2 {
		font-family: Assistant;
		 font-size: 16px;
		 text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-6e6657d2 > .pf-c > div > div > div > .product__button {
		background-color: rgb(0, 0, 0);
		 font-family: Assistant;
		 text-transform: uppercase;
		 text-align: center;
		 font-size: 16px;
	}
	.__pf .pf-6e6657d2 > .pf-c > div > div > h3 > a {
		font-weight: 700;
	}
	.__pf .pf-8cf6a9cc {
		text-align: center;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-aee66a90 {
		padding-top: 0px;
	}
	.__pf .pf-f7c2338b {
		padding-top: 0px;
	}
	.__pf .pf-8cf6a9cc {
		padding-top: 0px;
	}
}