<div class="page-head pr tc{%- if settings.cart_bg_image != blank %} lazyload{%- endif -%}"{%- if settings.cart_bg_image %} data-bgset="{%- include 'bgset', image: settings.cart_bg_image -%}" data-sizes="auto" data-parent-fit="cover" style="background: url({{ settings.cart_bg_image | img_url: '300x300' }}) no-repeat center center / cover;"{%- endif -%}>
   <div class="jas-container pr">
      <h1 class="tu mb__10 cw" itemprop="headline">{{ 'cart.general.title' | t }}</h1>
      <p></p>
   </div>
</div>
<div class="jas-container">
	<div class="jas-row jas-page">
		<div class="jas-col-md-12 jas-col-xs-12{%- if cart.item_count > 0 %} mt__60 mb__60{%- endif -%}" role="main" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
			<div class="jas_cart_pagesubmit hide"></div>
			<div class="shopify jas_cart_page">
			{%- if cart.item_count > 0 -%}
				<form action="/cart" method="post" novalidate class="frm_cart_page">
					<table class="shop_table shop_table_responsive cart" cellspacing="0">
						<thead>
							<tr>
								<th class="product-thumbnail">&nbsp;</th>
								<th class="product-name">{{ 'cart.label.product' | t }}</th>
								<th class="product-price">{{ 'cart.label.price' | t }}</th>
								<th class="product-quantity">{{ 'cart.label.quantity' | t }}</th>
								<th class="product-subtotal">{{ 'cart.label.total' | t }}</th>
								<th class="product-remove">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
						{% for item in cart.items %}
						   {%- if item.variant.compare_at_price > item.variant.price -%}
								{%- capture saving- %}{{ item.variant.compare_at_price | minus: item.variant.price }}{%- endcapture -%}
								{%- assign total_saving = saving | plus: total_saving -%}
							{%- endif -%} 
							<tr class="cart_item line-item-{{ item.id }}">
								<td class="product-thumbnail">
									{%- if item.image -%}
			                     <a href="{{ item.url | within: item.product.collections.last }}">
			                        <img width="160" height="215" src="{{ item.image | img_url: '160x' }}" class="attachment-shop_catalog size-shop_catalog sp-post-image" alt="{{image_0.alt | escape }}">    
			                     </a>
			                  {%- endif -%}
								</td>
								<td class="product-name" data-title="{{ 'cart.label.product' | t }}">
									{%- if item.product.handle == 'gift-wrapping' %} 
									{{ item.product.title }}
									{%- else -%}
								   <a href="{{ item.url | within: item.product.collections.last }}">{% comment %}{% if item.properties.product %}{{ all_products[item.properties.product].title }} → {% endif %}{% endcomment %}{{ item.product.title }}</a>
								   {%- endif -%}
								   {% unless item.variant.title contains 'Default' %}
								   <dl class="variation">
								   {% for option in item.product.options %}
								      <dt class="variation-Color">{{ option }}:</dt>
								      <dd class="variation-Color"><p>{{ item.variant.options[forloop.index0] }}</p></dd>
								   {% endfor %}
								   </dl>
								   {% endunless %}
                                  {%- assign property_size = item.properties | size -%}
                                    {% if property_size > 0 %}
                                      <div class="cart__meta-text">
                                        {% for p in item.properties %}
                                          {% unless p.last == blank %}
                                            {%- if p.first != '_bundle' and p.first != 'pid' -%}
                                        <strong>{{ p.first | capitalize }}</strong>:
                                                {% if p.last contains '/uploads/' %}
                                                  <a href="{{ p.last }}">{{ p.last | split: '/' | last | split: '_' | last }}</a>
                                                {% else %}
                                                  {{ p.last | split: '_' | last }}
                                                {% endif %}
                                            {%- endif -%}
                                          {% endunless %}
                                        {% endfor %}
                                      </div>
                                    {% endif %}
								</td>
								<td class="product-price" data-title="{{ 'cart.label.price' | t }}">{{ item.price | money }}</td>
								<td class="product-quantity" data-title="{{ 'cart.label.quantity' | t }}">
								   <div class="quantity pr tl fl mt__10{%- if item.product.handle == 'gift-wrapping' %} hide{%- endif -%}">
								      <input type="number" data-price="{{item.price}}" data-vid="{{ forloop.index }}" step="1" min="0" max="{%- if item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' -%}999{%- else -%}{{ item.variant.inventory_quantity }}{%- endif -%}" onfocus="this.select()" name="updates[]" id="updates_{{ item.key }}"  value="{{ item.quantity }}" title="Qty" class="qty input-text tc custom-qty" size="4" pattern="[0-9]*">
								      <div class="tc pa">
								         <a class="plus db cb" href="javascript:void(0);" rel="nofollow">
								         <i class="fa fa-angle-up"></i>
								         </a>
								         <a class="minus db cb" href="javascript:void(0);" rel="nofollow">
								         <i class="fa fa-angle-down"></i>
								         </a>
								      </div>
								   </div>
								</td>
								<td class="product-subtotal" data-title="{{ 'cart.label.total' | t }}" data-key="{{item.key}}">{% if item.original_line_price != item.line_price %}<s>{{ item.original_line_price | money }}</s>{% endif %}{{ item.line_price | money }}</td>
								<td class="product-remove{%- if item.product.handle == 'gift-wrapping' %} hide{%- endif -%}">
								   <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove-item remove" title="{{ 'cart.general.remove' | t }}" data-id="{{ item.id }}" data-product_sku="{{ item.product.sku }}">×</a>							
								</td>
							</tr>
						{% endfor %}
						<tr>
							<td colspan="6" class="actions">
								{%- if settings.cart_clear_enable -%}<a href="/cart/clear" class="jas_btn_clear button alt">{{ 'cart.general.clear_cart' | t }}</a>{%- endif -%}
								<input type="submit" name="update" class="button update-cart hide" value="{{ 'cart.general.update' | t }}" disabled>
							</td>
						</tr>
						</tbody>
					</table>
				
					<div class="cart-collaterals">
						{% if settings.cart_notes_enable  or settings.shipping_calculator == 'Enabled' %}
						<div class="cart_note cross-sells">
							{% include 'gift-wrapping' %}
							{% if settings.cart_notes_enable %}
						   <h2>{{ 'cart.general.note' | t }}</h2>
						   <textarea name="note" class="CartSpecialInstructions cart-note__input w__100" colspan="6">{{ cart.note }}</textarea>
						   {% endif %}
						   {%- include 'shipping-calculator' -%}
						</div>
						{% endif %}
					 	<div class="cart_totals calculated_shipping">
						   <h2>{{ 'cart.general.total_title' | t }}</h2>
						   <table cellspacing="0" class="shop_table shop_table_responsive">
						      <tbody>
						      	<tr class="cart-subtotal mov_subtotal" style="display: none">
									<th>{{ 'cart.general.subtotal' | t }}</th>
									<td data-title="{{ 'cart.general.subtotal' | t }}" id="subTotal" data-price={{ cart.total_price | json }}>{{ cart.total_price | money }}</td>
								</tr>
						        <tr class="shipping mov_shipping" style="display: none">
						            <th>{{ 'cart.general.shipping' | t }}</th>
						            <td data-title="{{ 'cart.general.shipping' | t }}" class="shippingText"></td>
						        </tr>
                           {% comment %} <tr class="shipping mov_shipping">
						            <th>Saving</th>
						            <td data-title="{{ 'cart.general.saving' | t }}" class="shippingText">{{ total_saving | money }}</td>
						        </tr>{% endcomment %}
						        <tr class="order-total">
						            <th>{{ 'cart.general.total_title' | t }}</th>
						            <td data-title="{{ 'cart.general.total_title' | t }}"><strong class="price">{{ cart.total_price | money }}</strong></td>
						        </tr>
						      </tbody>
						   </table>
						   {%- if settings.use_threshold_page -%}{%- assign settings_free_shipping_above = settings.free_shipping_above_page -%}<div id="threshold_bar_page">{%- include 'shipping-threshold' -%}</div>{%- endif -%}
						   <div class="actions form_jas_agree">
							 {%- if settings.cart_coupon_enable -%}
                             <table cellspacing="0" class="shop_table shop_table_responsive">
							      <tbody>
							         <tr class="shipping">
							            <th>{{ 'cart.general.coupon' | t }}</th>
							            <td data-title="Shipping"><input type="text" name="discount" class="input-text w__100" id="coupon_code" value="" placeholder="{{ 'cart.general.placeholder_coupon' | t }}"></td>
							         </tr>
							      </tbody>
							   </table>
                             {%- endif -%} 
                             {%- comment -%}
							   {%- if settings.use_agree_checkbox -%}
						   {%- assign page_url = pages[settings.link_conditions].url -%}
							   <p style="float: none;text-align: right;clear: both;margin: 10px 0;">
								  <label style="display:inline; float:none" for="page_agree">
								  	<input type="checkbox" class="jas_agree" id="page_agree">
								  <span style="float:none;margin-right: 5px; vertical-align: middle;">&nbsp;</span>
								  {%- if settings.link_conditions != blank -%}{{ 'cart.general.link_conditions_html' | t: link:page_url }}{%- else -%}{{ 'cart.general.link_conditions_emty' | t }}{%- endif -%}</label>
								</p>
								{%- endif -%} 
                             {%- endcomment -%}
                                {%- if settings.explain_code -%}<p>{{ 'cart.general.explain_code' | t }}</p>{%- endif -%}
                                {%- if settings.explain_curency -%}<p class="explain_curency">{{ 'cart.general.explain_currency_html' | t:currency:shop.currency }}</p>{%- endif -%}
		                        <div class="wc-proceed-to-checkout tr{%- if settings.use_agree_checkbox %} form_jas_agree jas_checkout pe_none{%- endif -%}">
		                            {%- if settings.use_agree_checkbox -%}
                                     {%- assign page_url = pages[settings.link_conditions].url -%}
                                     <p class="cart_ck_p" style="float: none;text-align: right;clear: both;margin: 10px 0;">
                                        <label style="display:inline; float:none" for="page_agree">
                                          <input type="checkbox" class="jas_agree" id="page_agree">
                                        <span style="float:none;margin-right: 5px; vertical-align: middle;">&nbsp;</span>
                                        {%- if settings.link_conditions != blank -%}{{ 'cart.general.link_conditions_html' | t: link:page_url }}{%- else -%}{{ 'cart.general.link_conditions_emty' | t }}{%- endif -%}</label>
                                      </p>
                                      {%- endif -%}
                                  {%- if settings.show_cart_trust_seal_page and settings.cart_img_trust_seal_page != blank -%}
							      {%- assign image = settings.cart_img_trust_seal_page -%}
							      <div class="product_img_trust_seal clearfix tr mb__25"><img alt="{{image.alt}}" src="{{ image | img_url: '500x' }}"></div>
							   {%- endif -%}
                                   <button class="checkout-button button alt" name="checkout">{{ 'cart.general.proceed_checkout' | t }}</button>
                                    {% if settings.use_additional_checkout_buttons and additional_checkout_buttons %}
                                    <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
                                  {% endif %}
		                         </div>
							</div>
						</div>
					</div>
				</form>
			{%- else -%}
			  	<p class="cart-empty">{{ 'cart.general.empty' | t }}</p>
			  	<div class="empty-cart-text">{{ 'cart.general.guest_note_html' | t }}</div>
			  	<p class="return-to-shop"><a href="/collections/all" class="button return-to-shop">{{ 'cart.general.continue_shopping' | t }}</a></p>
			{%- endif -%}
			</div>
		</div>
	</div><!-- .jas-row -->
	{%- comment -%}{%- if settings.show_cart_related_products and settings.related_products_enable == "by_collection" -%}
	{%- include 'related-cart-products' -%}
	{%- elsif settings.show_cart_related_products and settings.related_products_enable == "by_tags" -%}
	{%- include 'related-cart-products-by-tags' -%}
	{%- endif -%}{%- endcomment -%}
</div>