{%- if collection == blank and product.collections.first != blank -%}{%- assign collection = product.collections.first -%}{%- endif -%}
{%- case settings.design_products -%}
  {%- when '2' -%}
    {%- assign singles_wc = 'wc-single-2' -%}
  {%- when '3' -%}
    {%- assign singles_wc = 'wc-single-3' -%}
  {%- when '4' -%}
    {%- assign singles_wc = 'wc-single-4' -%}
  {%- when '5' -%}
    {%- assign singles_wc = 'wc-single-5' -%}
  {%- when '7' -%}
    {%- assign singles_wc = 'wc-single-1 jas_th_right' -%}
  {%- else -%}
    {%- assign singles_wc = 'wc-single-1' -%}
 {%- endcase -%}
 {%- assign page_pr_img_size = settings.use_eq_thumb_height -%}
 {%- assign nav_pr_img_size = settings.use_eq_nav_height -%}
  {%- assign first_available_variant = settings.first_available_variant -%}
{%- if product.selected_variant != blank and first_available_variant == false -%}
 {%- assign current_variant = product.selected_variant -%}
{%- elsif first_available_variant == false -%}
 {%- assign current_variant = product.variants.first -%}
{%- else -%}
 {%- assign current_variant = product.selected_or_first_available_variant -%}
{%- endif -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- assign product_image_zoom_size = 'master' -%}
{%- assign product_image_scale = '2' -%}
{%- assign cv_color = 'jas-p-item' -%}
{%- assign jas_carousel = 'jas-carousel' -%}
{%- assign featured_image_alt = featured_image.alt | split:'|' | first | handleize -%}
  {%- if product.has_only_default_variant == false and product.images.size > 1 -%}
  {%- for option in product.options_with_values -%}
     {%- if settings.color_name_check != blank -%}{%- assign _gl_color_name = settings.color_name_check | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}{%- assign gl_color_name = _gl_color_name | downcase -%}{%-else-%}{%- assign gl_color_name = '\nathan_dt\' -%}{%-endif-%}
      {%- assign downcased_option = option.name | downcase -%}
      {%- assign downcased_option_check = downcased_option | prepend: '"' | append: '"' | strip -%} 
      {%- if downcased_option == 'color' or downcased_option == 'couleur' or downcased_option == 'colour' or gl_color_name contains downcased_option_check -%}
        {%- assign po_position = option.position -%}
        {%- assign jas_carousel = 'jas-group-carousel' -%}
        {%- case po_position -%}
           {%- when 1 -%}{%- assign cv_color = current_variant.option1 | handleize -%}
           {%- when 2 -%}{%- assign cv_color = current_variant.option2 | handleize -%}
           {%- else -%}{%- assign cv_color = current_variant.option3 | handleize -%}
        {%- endcase -%}
        {%- break -%}
    {%- endif -%}   
   {%- endfor -%}
   {%- endif -%}
{%- include 'jas_check_label' -%}
{%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
{%- if product.metafields.external -%}
  {%- assign check = product.metafields.external | first | last -%}
  {%- if check contains 'https:' or check  contains 'http:' -%}{%- assign check_external = true -%}{%-else-%}{%- assign check_external = false -%}{%-endif-%}
{%-endif-%}
{%- if settings.show_share_btn and settings.share_type == '1' -%}
   {%- assign gl_follow_social = false -%}
{%- elsif settings.show_share_btn and settings.share_type == '2' -%}
   {%- assign gl_follow_social = true -%}
{%- endif -%}
{%- assign estimateStartDate = settings.delivery_start -%}
{%- assign estimateEndDate = settings.delivery_end -%}
{%- if product.metafields.meta.estimateStartDate != blank -%}
  {%- assign estimateStartDate = product.metafields.meta.estimateStartDate | plus:0 -%}
{%- endif -%}
{%- if product.metafields.meta.estimateEndDate != blank -%}
   {%- assign estimateEndDate = product.metafields.meta.estimateEndDate | plus:0 -%}
{%- endif -%}
<div class="jas-wc-single {{singles_wc}} mb__60">
  {%- if settings.show_breadcrumb -%}
  <div class="bgbl lh__1 pt__5 pb__5 pl__15 pr__15 clearfix">
      <div class="flex between-xs{%- if settings.full_header_enable == false %} jas-container{%- endif -%}">
       <nav class="shopify-breadcrumb dib">
        <a href="/">{{ 'general.breadcrumbs.home' | t }}</a>
        {%- if collection.url != blank -%}<i class="fa fa-angle-right"></i><a href="{{collection.url}}">{{collection.title}}</a>{%- endif -%}
        <i class="fa fa-angle-right"></i>{{product.title}}
       </nav>
       {%- if collection.next_product or collection.previous_product -%}
         {%- assign product_image_size = '219x' -%}
         <div class="gecko-products-nav">
            {%- if collection.previous_product -%}
            <div class="product-btn product-prev">
               <a href="{{ collection.previous_product.url }}">Previous product<span></span></a>
               <div class="wrapper-short">
                  <div class="product-short">
                     {%- if collection.previous_product.images.size > 0 -%}
                     <a href="{{collection.previous_product.url}}" class="product-thumb">
                        <img width="219" height="280" data-src="{{ collection.previous_product.images[0].src | img_url: '70x' }}" class="lazyload attachment-shop_thumbnail size-shop_thumbnail sp-post-image" alt="{{ collection.previous_product.title | escape  }}">
                     </a>
                     {%- endif -%}
                     <a href="{{ collection.previous_product.url }}" class="product-title">{{collection.previous_product.title}}</a>
                     <span class="price">
                         {%- if collection.previous_product.price_varies -%}
                         {{ collection.previous_product.price_min | money }} – {{ collection.previous_product.price_max | money }}
                         {%- elsif collection.previous_product.compare_at_price > collection.previous_product.price -%}<del>{{ collection.previous_product.compare_at_price  | money }}</del> <ins>{{ collection.previous_product.price | money }}</ins>
                         {%- else -%}
                         {{ collection.previous_product.price | money }}
                         {%- endif -%}
                     </span>
                  </div>
               </div>
            </div>
            {%- endif -%}
            {%- if collection.next_product -%}
            <div class="product-btn product-next">
               <a href="{{collection.next_product.url}}">Next product<span></span></a>
               <div class="wrapper-short">
                  <div class="product-short">
                     {%- if collection.next_product.images.size > 0 -%}
                     <a href="{{collection.next_product.url}}" class="product-thumb">
                        <img width="219" height="280" data-src="{{collection.next_product.images[0].src | img_url: '70x'}}" class="lazyload attachment-shop_thumbnail size-shop_thumbnail sp-post-image" alt="{{ collection.next_product.title | escape  }}">
                     </a>
                     {%- endif -%}
                     <a href="{{collection.next_product.url}}" class="product-title">{{collection.next_product.title}}</a>
                     <span class="price">
                        {%- if collection.next_product.price_varies -%}
                        {{ collection.next_product.price_min | money }} – {{ collection.next_product.price_max | money }}
                        {%- elsif collection.next_product.compare_at_price > collection.next_product.price -%}<del>{{ collection.next_product.compare_at_price  | money }}</del> <ins>{{ collection.next_product.price | money }}</ins>
                        {%- else -%}
                        {{ collection.next_product.price | money }}
                        {%- endif -%}
                     </span>
                  </div>
               </div>
            </div>
            {%- endif -%}
         </div>
         {%- endif -%}
      </div>
  </div>
  {%- endif -%}
   {%- if settings.product_sidebar == 'left' -%}
      {%- case settings.size_sidebar -%}
        {% when '1' %}
          {%- assign class_gl = 'jas-col-md-10 last-md' -%}
          {%- assign class_sidebar = 'jas-col-md-2 first-md' -%}
        {% when '2' %}
          {%- assign class_gl = 'jas-col-md-9 last-md' -%}
          {%- assign class_sidebar = 'jas-col-md-3 first-md' -%}
        {% when '3' %}
          {%- assign class_gl = 'jas-col-md-8 last-md' -%}
          {%- assign class_sidebar = 'jas-col-md-4 first-md' -%}
      {%- endcase -%}
   {%- elsif settings.product_sidebar == 'right' -%}
      {%- case settings.size_sidebar -%}
        {% when '1' %}
          {%- assign class_gl = 'jas-col-md-10' -%}
          {%- assign class_sidebar = 'jas-col-md-2' -%}
        {% when '2' %}
          {%- assign class_gl = 'jas-col-md-9' -%}
          {%- assign class_sidebar = 'jas-col-md-3' -%}
        {% when '3' %}
          {%- assign class_gl = 'jas-col-md-8' -%}
          {%- assign class_sidebar = 'jas-col-md-4' -%}
      {%- endcase -%}
   {%- else -%}
      {%- assign class_gl = 'jas-col-md-12' -%}
   {%- endif -%}
	<div class="jas-container{%- if settings.product_sidebar == 'contetn_full' %} contetn_full{%- endif-%}">
		<div class="jas-row">
			<div class="{{class_gl}} jas-col-xs-12">
				<div class="product mt__40" id="product-{{product.id}}">
					<div class="jas-row mb__50">
						{%- case settings.design_products -%}
						     {%- when '1' -%}
						        {%- include 'product_layout_1' -%}
						     {%- when '2' -%}
						        {%- include 'product_layout_2' -%}
						     {%- when '3' -%}
						        {%- include 'product_layout_3' -%}
						     {%- when '4' -%}
						        {%- include 'product_layout_4' -%}
						     {%- when '5' -%}
						        {%- include 'product_layout_5' -%}
						     {%- when '6' -%}
						        {%- include 'product_thumb_bottom' -%}
						     {%- when '7' -%}
						        {%- include 'product_thumb_right' -%}
						     {%- else -%}
						        {%- include 'product_thumb_out_side' -%}
						{%- endcase -%}
					</div>
               {%- section 'product-page-description' -%}
               {%- if settings.show_related_products -%}
                  {%- assign countdown_timer_style = settings.related_countdown_style -%}
                  {%- case settings.related_products_use -%}
                     {%- when 'use_collection' -%}
                        {%- include 'related-products-sectioned' -%}
                      {%- when 'id' -%}
                        {%- include 'related-products-id' -%}
                     {%- when 'handle' -%}
                        {%- include 'related-products-by-handle' -%}
                     {%- else -%}
                         {%- include 'related-products-by-tags' -%}
                  {%- endcase -%}
               {%- endif -%}
               {%- if settings.show_recently_products and pages['recently-viewed-products'].empty? != true -%}{%- include 'gl-recently-viewed' -%}{%-endif-%}
               {%- if product.metafields.meta.hashtag != blank or product.metafields.meta.username != blank -%}{%- include 'pr_instagram' -%}{%-endif-%}
		      </div>
			</div><!-- maint product -->
			{%- if settings.product_sidebar != '1' and settings.product_sidebar != 'contetn_full' -%}
         <div class="sidebar mt__40 {{class_sidebar}} jas-col-xs-12">
            {%- section 'section_sidebar_product' -%}
         </div><!-- sidebar product -->
         {%- endif -%}
		</div><!-- .jas-row -->
	</div><!-- .jas-container -->
</div>
