{%- layout none -%}
{%- include 'gecko_check_variant',quick_view:true -%}
 {%- assign page_pr_img_size = settings.use_eq_thumb_height -%}
  {%- assign first_available_variant = settings.first_available_variant -%}
{%- if product.selected_variant != blank and first_available_variant == false -%}
 {%- assign current_variant = product.selected_variant -%}
{%- elsif first_available_variant == false -%}
 {%- assign current_variant = product.variants.first -%}
{%- else -%}
 {%- assign current_variant = product.selected_or_first_available_variant -%}
{%- endif -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- include 'jas_check_label' -%}
{%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
{%- if product.metafields.external -%}
  {%- assign check = product.metafields.external | first | last -%}
  {%- if check contains 'https:' or check  contains 'http:' -%}{%- assign check_external = true -%}{%-else-%}{%- assign check_external = false -%}{%-endif-%}
{%-endif-%}
{%- if settings.show_share_btn and settings.share_type == '1' -%}
   {%- assign gl_follow_social = false -%}
{%- elsif settings.show_share_btn and settings.share_type == '2' -%}
   {%- assign gl_follow_social = true -%}
{%- endif -%}
{%- assign cv_color = 'jas-p-item' -%}
{%- assign jas_carousel = 'product-images-slider_on' -%}
{%- assign featured_image_alt = featured_image.alt | split:'|' | first | handleize -%}
 {%- assign page_pr_img_size = settings.use_eq_thumb_height -%}
  {%- if settings.show_grouped_variant_image and product.has_only_default_variant == false and product.images.size > 1 -%}
  {%- for option in product.options_with_values -%}
     {%- if settings.color_name_check != blank -%}{%- assign _gl_color_name = settings.color_name_check | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}{%- assign gl_color_name = _gl_color_name | downcase -%}{%-else-%}{%- assign gl_color_name = '\nathan_dt\' -%}{%-endif-%}
      {%- assign downcased_option = option.name | downcase -%}
      {%- assign downcased_option_check = downcased_option | prepend: '"' | append: '"' | strip -%} 
      {%- if downcased_option == 'color' or downcased_option == 'couleur' or downcased_option == 'colour' or gl_color_name contains downcased_option_check -%}
        {%- assign po_position = option.position -%}
        {%- assign jas_carousel = 'jas-group-carousel' -%}
        {%- case po_position -%}
           {%- when 1 -%}{%- assign cv_color = current_variant.option1 | handleize -%}
           {%- when 2 -%}{%- assign cv_color = current_variant.option2 | handleize -%}
           {%- else -%}{%- assign cv_color = current_variant.option3 | handleize -%}
        {%- endcase -%}
        {%- break -%}
    {%- endif -%}   
   {%- endfor -%}
   {%- endif -%}
{%- assign estimateStartDate = settings.delivery_start -%}
{%- assign estimateEndDate = settings.delivery_end -%}
{%- if product.metafields.meta.estimateStartDate != blank -%}
  {%- assign estimateStartDate = product.metafields.meta.estimateStartDate | plus:0 -%}
{%- endif -%}
{%- if product.metafields.meta.estimateEndDate != blank -%}
   {%- assign estimateEndDate = product.metafields.meta.estimateEndDate | plus:0 -%}
{%- endif -%}
{%- if product.available -%}{%- assign remove_soldout = settings.remove_sold_out -%}{%- else -%}{%- assign remove_soldout = false -%}{%- endif -%}
<div class="product-quick-view single-product-content" id="product-{{product.id}}">
  <div class="jas-row product-image-summary">
    <div class="jas-col-md-6 jas-col-sm-6 jas-col-xs-12 product-images pr oh{%- if page_pr_img_size %} jas_section_eqh jas_section_eqh_quick {{settings.image_size_thumb}}{%- endif -%}">
      <div class="images{%- if page_pr_img_size %} page_pr_img_size{%- endif -%}">
        <div class="product-images-slider tc{%- if product.images.size > 1 %} p-thumb-quick {{jas_carousel}}{%- endif -%}">
           {%- if product.images.size > 0 -%}
              {%- include 'arr_img_thum_quick' -%}
           {%- else -%}
               <img src="https://placehold.it/870x1110" alt ="placehold">
           {%- endif -%} 
        </div>
      </div>
      <a href="{{ product.url | within: collection }}" class="view-details-btn">{{ 'products.product.product_view_details' | t }}</a>     
    </div>
    <div class="jas-col-md-6 jas-col-sm-6 jas-col-xs-12 summary entry-summary pr">
      <div class="summary-inner gecko-scroll-quick">
        <div class="gecko-scroll-content-quick">
           {%- include 'pr_info_one',quick_review:'quick_review' -%}
            {%- include 'pr_form_quick' -%}
            {%- include 'product_meta',prefix:'_quick' -%}
            {%- if settings.show_share_btn -%}
            <div class="social-share">
              {%- include 'social-sharing', follow_social:gl_follow_social -%}
            </div>
            {%- endif -%}
        </div>
      </div><!-- .summary -->
    </div>
  </div>
  <!-- .product-quickview end -->
{%- if linklists[product.handle].links.size == 0 -%}
     {%- if product.has_only_default_variant == false and product.variants.size > 1 -%}
     <script type="application/json" id="ProductJson-NTQV">
     {%- assign remove_unavailable = true -%}
     {%- if product.available -%}{%- assign remove_soldout = settings.remove_sold_out -%}{%- else -%}{%- assign remove_soldout = false -%}{%- endif -%}
     {%- include 'arr_pr' -%}
     {{array | strip_newlines | remove:"  " | replace: ',]', ']' }}
    </script>
    <script type="application/json" id="ProductJson-templateQV">
     {%- include 'json_arr' -%}
    {{ json_arr | strip_newlines | remove:"  "}}
    </script>
    <script type="text/javascript">
     (function($) {
       "use strict";
          var Ntproduct = JSON.parse(document.getElementById('ProductJson-NTQV').innerHTML),
            product = JSON.parse(document.getElementById('ProductJson-templateQV').innerHTML),
            IdSelect = '#product-select-quick',
            NtId = '#nt_select_quick_',
            selector = '#cart-form-quick',
            callBackVariant = '#callBackVariant_quick',
            prefix='_quick';
             $('#nt_select_quick_1 .is-selected-none').addClass('is-selected').removeClass('is-selected-none');
             $('#nt_select_quick_2 .is-selected-none').addClass('is-selected').removeClass('is-selected-none');
          elessiShopifyPre.Ntproduct_switch('.variations_form_qv',Ntproduct,product,selector,IdSelect,NtId,callBackVariant,prefix);
          $('#nt_select_quick_0 .is-selected-none').click(); 
       }(jQuery));
    </script>
   {%- endif-%}
{%- elsif linklists[product.handle].links.size > 0 -%}
      <script type="text/javascript">
       (function($) {
         "use strict";
            $("#content_quickview .pr_onsale").hide();
            elessiShopify.Ntproduct_grouped('#content_quickview','-quick');
         }(jQuery));
      </script>
{%- endif -%}
<script type="text/javascript">
 (function($) {
   "use strict";
    {%- if product.available and settings.gecko_stock_countdown -%}
      elessiShopify.progressbar('.jas_progress_bar_pr_quick');
    {%- endif-%}
    {%- if settings.use_flash_sold and product.available -%}
       elessiShopify.flashSoldBar('_quick');
    {%- endif -%}
    {%- if settings.enable_delivery_order and product.available -%}
       elessiShopify.delivery_order('#jas_product_delivery_quick');
    {%- endif -%}
    {%- if settings.use_promo_shpping -%}
       elessiShopify.intThe4IP('_quick');
    {%- endif -%}
   }(jQuery));
</script>
</div>