{%- layout none -%}
{%- include 'gecko_check_variant',quick_shop:true -%}
  {%- assign first_available_variant = settings.first_available_variant -%}
{%- if product.selected_variant != blank and first_available_variant == false -%}
 {%- assign current_variant = product.selected_variant -%}
{%- elsif first_available_variant == false -%}
 {%- assign current_variant = product.variants.first -%}
{%- else -%}
 {%- assign current_variant = product.selected_or_first_available_variant -%}
{%- endif -%}
{%- assign select_quick = 'nt_select_quick' | append:product.id -%}
{%- assign input_class = 'qs' | append:product.id -%}
<div id="callBackVariant_quick_{{product.id}}" class="jas_{{current_variant.option1 | handleize}} jas1_{{current_variant.option2 | handleize}} jas2_{{current_variant.option3 | handleize}}">
   <form action="/cart/add" method="post" enctype="multipart/form-data" class="variations_form_qs variations_form product-form jas_cart variations_form_qs{{product.id}}" id="cart-form-quick-{{product.id}}">
    <select name="id" id="product-select-{{product.id}}" class="product-form__variants hide hidden">
      {%- for variant in product.variants -%}
          {%- if variant.available -%}
            <option {% if variant.id == current_variant.id %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}" class="{{variant.option1 | handleize }} nt1_{{variant.option2 | handleize }} nt2_{{variant.option3 | handleize }}">{{ variant.title | handle}}</option>
          {%- else -%}
            <option value="{{ variant.id }}"{%- if remove_soldout %} disabled="disabled"{%- endif %} class="nt_sold_out {{variant.option1 | handleize }} nt1_{{variant.option2 | handleize }} nt2_{{variant.option3 | handleize }}">{{ variant.title | handleize }}</option>
          {%- endif -%}
        {%- endfor -%}
    </select>
    {%- include settings.swatch_design_quickshop,select_id:select_quick,class_input:input_class -%}
    <div class="single_variation_wrap{%- if product.price_varies %} price_custom{%- endif -%}">
      <div class="shopify-variation single_variation">
        <div class="shopify-variation-price">
          <span class="price productPrice" id="productPrice_quick-{{product.id}}">
            {%- if on_sale -%}<ins>{{ current_variant.price | money }}</ins><del>{{ current_variant.compare_at_price | money }}</del>
            {%- else -%}
            {{ current_variant.price | money }}
            {%- endif -%}
          </span>
        </div>
      </div>
      <div class="shopify-variation-add-to-cart variations_button shopify-variation-add-to-cart-enabled">
         <div class="quantity pr fl hide hidden">
            <input type="number" step="1" min="1" max="{%- if current_variant.inventory_management != null -%}{{current_variant.inventory_quantity}}{%- else -%}999{%- endif -%}" name="quantity" value="1" title="Qty" class="qty input-text tc" size="4">
            <div class="tc pa">
               <a class="plus db cb" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
               <a class="minus db cb" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
            </div>
         </div>
         <div class="stock out-of-stock" id="out-of-stock-gl_quick_{{product.id}}" style="display: none">{{ 'products.product.outofstock' | t }}</div>
         <button type="submit" id="shopify_add_to_cart_quick_{{product.id}}" data-ntid="{{product.id}}" class="shopify_add_to_cart ajax_form_cart single_add_to_cart_button button alt pr"><span class="bt__text">{%- if current_variant.inventory_quantity <= 0 and current_variant.available and current_variant.inventory_management == 'shopify' -%}{{ 'products.product.pre_orders' | t }}{%- else -%}{{ 'products.product.add_to_cart' | t }}{%- endif -%}</span></button>
      </div>
    </div>
   </form>
</div>
{%- if product.has_only_default_variant == false and product.variants.size > 1 -%}
 <script type="application/json" id="ProductJson-NTQS{{product.id}}">
  {%- assign remove_unavailable = true -%}
  {%- if product.available -%}{%- assign remove_soldout = settings.remove_sold_out -%}{%- else -%}{%- assign remove_soldout = false -%}{%- endif -%}
 {%- include 'arr_pr' -%}
 {{array | strip_newlines | remove:"  " | replace: ',]', ']' }}
</script>
<script type="application/json" id="ProductJson-templateQS{{product.id}}">
 {%- include 'json_arr' -%}
{{ json_arr | strip_newlines | remove:"  "}}
</script>
<script type="text/javascript">
 (function($) {
   "use strict";
      var Ntproduct = JSON.parse(document.getElementById('ProductJson-NTQS{{product.id}}').innerHTML),
        product = JSON.parse(document.getElementById('ProductJson-templateQS{{product.id}}').innerHTML),
        IdSelect = '#product-select-{{product.id}}',
        NtId = '#nt_select_quick{{product.id}}_',
        selector = '#cart-form-quick-{{product.id}}',
        callBackVariant = '#callBackVariant_quick_{{product.id}}',
        prefix='_quick_{{product.id}}';
             $('#nt_select_quick{{product.id}}_1 .is-selected-none').addClass('is-selected').removeClass('is-selected-none');
             $('#nt_select_quick{{product.id}}_2 .is-selected-none').addClass('is-selected').removeClass('is-selected-none');
      elessiShopifyPre.Ntproduct_switch('.variations_form_qs{{product.id}}',Ntproduct,product,selector,IdSelect,NtId,callBackVariant,prefix);
      $('#nt_select_quick{{product.id}}_0 .is-selected-none').click();
   }(jQuery));
</script>
    {%- endif -%}